[2020-10-15 09:58] marcellosavoldi opened #1 "Create a folders maps for new repo"
Here all ideas to popolate the new Repository before proceeding to the migration

[2020-10-21 12:55] fiorisi opened #2 "Migrate the Creo configuration files and commercials"
As discussed in #1 we will migrate the Creo configuration files and the commercials.

cc @icub-tech-iit/silo-mech

[2020-10-23 08:50] marcellosavoldi opened #3 "Creation of the issues request template"
Define:

- [ ]  list of all requests we need

- [ ]  Template for every request

- [ ] who can open an issues request

- [ ]  Define who have to solve the request

[2020-10-23 09:25] marcellosavoldi opened #4 "Convert all parts from educational licence to commercial license"
Some ideas?

[2020-10-23 13:17] fiorisi opened #5 "Issue to collect wiki images"
In this issue we collect images that will be used in the wik pages.

[2020-10-26 14:16] marcellosavoldi opened #6 "Migration started- feedback and problems"
## feedback

Please all problems and feedback here!

[2020-10-27 15:41] fiorisi opened #7 "Manage access and define maintainer - Define users with access and the repository maintainer"
## Description of the task

We have to add the `outside collaborators` and define the repository maintainer.

[2020-10-28 14:40] #7 closed, assigned to fiorisi

[2020-11-03 13:49] marcellosavoldi opened #8 "[iso7045_z] - [looking for a code and supplier about the missing screw M3x14]"
| |  |
|:---|:---|
| Alias Creo | V3-14--_-_ISO7045_CZ|
| IIT-Code | 2542 |
| Applicant | Marcello Savoldi, @marcellosavoldi  |
| supervisor | Luca FIorio, @fiorisi  |
| Assignees | Filippo Biggi, @fbiggi  |

Description and motivation of the changing request:

We have to use the family table ISO7045_Z and remove every where the screws ISO7045_H
The first (Z) have represented from the pozidrive cr

[2020-11-04 11:44] pattacini opened #9 "Repo management - Remove outside collaborators w/ read permission once the repo is public"
Once this repo will be made public, we no longer need to handle outside collaborators w/ `read` permission.
Therefore, @fiorisi please open up a corresponding PR in https://github.com/icub-tech-iit/outside-collaborators.

[2020-11-04 17:12] fiorisi commented on #9
Done in https://github.com/icub-tech-iit/outside-collaborators/pull/16.

[2020-11-04 17:12] #9 closed

[2020-11-04 21:20] #1 closed

[2020-11-04 21:20] marcellosavoldi commented on #2
all has been migrated

[2020-11-04 21:20] #2 closed

[2020-11-05 11:27] marcellosavoldi opened #10 "[ECAD] - [ALIAS] - [short description] [ IIT-CODE]"
| |  |
|:---|:---|
| Datasheet component  | [link or attachment ] |
| maker info | [maker + serial number or code]|
| Alias Creo | [maker + code] |
| MCAD Contact | [name Surname] [nick git] |
| ECAD Contact | [name Surname] [nick git] |

Image with origin e PIN 1 position by PADS:

Attachment:

Notes:

### Madatory information/action:
- [ ] Added IIT-CODE
- [ ] Added assignees ( min. 1 mechanical

[2020-11-05 11:35] marcellosavoldi opened #11 "ECAD - [PICOLOCK-10X1-MALE90-P150] - [ 11120 ] - [PCB Connector]"
| |  |
|:---|:---|
| Datasheet component  | [ [LINK](https://www.molex.com/molex/products/part-detail/pcb_headers/5040501091) ] |
| maker info | [Molex + 504050-1091]|
| Alias Creo | [PICOLOCK-10X1-MALE90-P150] |
| MCAD Contact | [Marcello Savoldi] [@marcellosavoldi ] |
| ECAD Contact | [Simeone DUssoni] [@simeonedussoni ] |

Image with origin e PIN 1 position by PADS:

Attachment:

Notes:
Comp. f

[2020-11-05 13:48] marcellosavoldi opened #12 "[ECAD]-[PICOLOCK-7X1-MALE90-P150]-[11023]-[PCB Connector]"
| |  |
|:---|:---|
| Datasheet component  | [LINK](https://www.molex.com/molex/products/part-detail/pcb_headers/5040500791) |
|maker info | [Molex - 504050-0791 ] |
| Alias Creo | [PICOLOCK-7X1-MALE90-P150] |
| MCAD Contact | [Marcello Savoldi] [ @marcellosavoldi ] |
| ECAD Contact | [Simeone Dussone] [@simeonedussoni ] |

Image with origin e PIN 1 position by PADS:

Attachment:

Notes:

### Madat

[2020-11-05 13:49] marcellosavoldi commented on #11
created:
![image](https://user-images.githubusercontent.com/53296021/98249025-0c6cf000-1f76-11eb-9a66-458112f09a7e.png)

[2020-11-05 14:03] marcellosavoldi commented on #12
done:
![image](https://user-images.githubusercontent.com/53296021/98250699-109a0d00-1f78-11eb-91f1-f9d0bfd5cc6d.png)

[2020-11-05 14:12] marcellosavoldi opened #13 "[ECAD]-[12401598E4_USB3_1_TYPE_C]-[15047]-[PCB Connector]"
| |  |
|:---|:---|
| Datasheet component  | [link or attachment ] |
|maker info | [Maker brand + serial number] |
| Alias Creo | [Alias or filename MCAD] |
| MCAD Contact | [Marcello Savoldi] [@marcellosavoldi ] |
| ECAD Contact | [Simeone Dussone] [@simeonedussoni ] |

Image with origin e PIN 1 position by PADS:

Attachment:

Notes:

### Madatory information/action:
- [ ] Added IIT-CODE
- [ ] Add

[2020-11-05 14:13] marcellosavoldi commented on #13
@simeonedussoni , any more infos about this component?

[2020-11-05 14:16] simeonedussoni commented on #13
mechanical drawings [here](https://www.amphenol-icc.com/media/wysiwyg/files/drawing/12401598xxx2a.pdf)

[2020-11-05 14:29] marcellosavoldi opened #14 "[ECAD]-[MOLEX-UUSB-B-5-FEMSTR]-[12068]-[PCB Connector]"
| |  |
|:---|:---|
| Datasheet component  | [LINK](https://www.molex.com/molex/products/part-detail/io_connectors/1051330011) |
|maker info | [Molex -105133-0011] |
| Alias Creo | [MOLEX-UUSB-B-5-FEMSTR] |
| MCAD Contact | [Marcello Savoldi] [@marcellosavoldi ] |
| ECAD Contact | [Simeone Dussoni] [@simeonedussoni] |

Image with origin e PIN 1 position by PADS:

Attachment:

Notes:

### Madatory i

[2020-11-05 14:31] marcellosavoldi commented on #14
@simeonedussoni , I need info about the origin of the component

[2020-11-05 14:43] marcellosavoldi opened #15 "ECAD -[HIROSE-FX10A-168P-SV]-[13883]-[PCB Connector]"
| |  |
|:---|:---|
| Datasheet component  | [LINK](https://www.hirose.com/product/p/CL0570-0044-8-93?lang=en) |
|maker info | [Hirose - FX10A-168P-SV(93)] |
| Alias Creo | [HIROSE-FX10A-168P-SV] |
| MCAD Contact | [Marcello Savoldi] [ @marcellosavoldi ] |
| ECAD Contact | [Simeone Dussoni] [ @simeonedussoni ] |

Image with origin e PIN 1 position by PADS:

Attachment:

Notes:

### Madatory informa

[2020-11-05 14:47] simeonedussoni commented on #14
as soon as I succeed in launching the decal editor I can give you, usually is pin 1 but I need to confirm you

[2020-11-05 15:49] simeonedussoni commented on #14
Origin is centered at pin 1
cc @marcellosavoldi

[2020-11-05 17:12] simeonedussoni commented on #12
origin is coincident with PIN 1

[2020-11-05 17:50] marcellosavoldi commented on #15
mating info:

![image](https://user-images.githubusercontent.com/53296021/98277502-c45ec500-1f97-11eb-9c85-2c097b62fe9c.png)

[2020-11-05 18:08] marcellosavoldi commented on #15
done:
![image](https://user-images.githubusercontent.com/53296021/98279464-44862a00-1f9a-11eb-8a8a-9d60d278d2e8.png)

[2020-11-06 17:52] #12 closed

[2020-11-16 11:27] marcellosavoldi commented on #8
@fbiggi , Did you write to the supplier?
lagosta@bossard.com

[2020-11-16 11:48] fbiggi commented on #8
si attendo info in merito @marcellosavoldi

[2020-11-16 12:13] fbiggi commented on #8
RISPOSTA DEL FORNITORE

Buongiorno sig. Biggi ,

grazie per la sua gentile richiesta e per averci chiamati in causa , le allego la ns gamma attualmente disponibile a catalogo per l’articolo menzionato :

Passiamo quindi da una M3 x 12 a una M3 x 16 , quindi la misura richiesta le confermo che non è gestita !  Per avere la misura corrispondente M3 x 14 il lotto minimo produttivo e pari a 100k pcs e

[2020-11-16 12:14] fbiggi commented on #8
@marcellosavoldi
Attendo risposte per la A4 perché il (tra parentesi) significa disponibile a richiesta (verifica disponibilitá su magazzino)

[2020-11-16 14:33] marcellosavoldi commented on #8
.... in effetti comprarne 100 mila non so se ne valga la pena....

[2020-11-16 14:39] fiorisi commented on #8
cc @icub-tech-iit/silo-mech

[2020-11-20 11:15] fbiggi commented on #8
allego offerta del fornitore
[BOSSARD_QUOTE_370270416.pdf](https://github.com/icub-tech-iit/cad-libraries/files/5573147/BOSSARD_QUOTE_370270416.pdf)

[2020-11-20 12:34] marcellosavoldi commented on #8
@fiorisi, @fbiggi  , ne prenderei 1000 (1K) e mettiamole a magazzino ( M3x14).

Possiamo inserirle in family table , variando il materiale nella descrizione....

[2020-11-20 12:59] fbiggi commented on #8
@marcellosavoldi se e materiale per iCub sará sotto gestione @Fabrizio69 ?  o compriamo come dev?

[2020-11-20 13:06] fbiggi commented on #8
consegna 4-5 gg lavorativi

[2020-11-20 16:11] marcellosavoldi opened #16 "ECAD -[AD9522-1BCPZ]-[15046]-[Programmable 12 LVDS/24 CMOS]"
| |  |
|:---|:---|
| Datasheet component  | [link or attachment ] |
|maker info | [Maker brand + serial number] |
| Alias Creo | [AD9522-1BCPZ] |
| MCAD Contact | [Marcello Savoldi] [@marcellosavoldi ] |
| ECAD Contact | [Simeone Dussoni] [@simeonedussoni ] |

Image with origin e PIN 1 position by PADS:

Attachment:

Notes:
Component for UZCB

### Madatory information/action:
- [ ] Added IIT-CODE

[2020-11-24 09:23] marcellosavoldi commented on #8
se @fiorisi  è daccordo procederei con un purchase per un ordine minimo di 500 pezzi.
Possiamo verificare con @Fabrizio69 , se è il caso di ordinare anche altre viti che stanno per scarseggiare, in modo da fare un ordine cumulativo ( compriamo per il reparto , non per DEV )

A questo punto direi di inserire in family table la famigerata vite e sostituirla in tutti gli assiemi. Varierei la descrizi

[2020-11-24 11:03] maurizbo opened #17 "ECAD - DRV8844PWP - 15144 - Motor Driver"
| |  |
|:---|:---|
| Datasheet component  | see Wingst |
|maker info | Texas Instruments - DRV8844PWP |
| Alias Creo | [Alias or filename MCAD] |
| MCAD Contact | @marcellosavoldi  |
| ECAD Contact | @maurizbo  |

Image with origin e PIN 1 position by PADS:

![image](https://user-images.githubusercontent.com/53302701/100085738-b42a5f00-2e4c-11eb-969b-3ae0dfba812a.png)

Attachment:

Notes:

### Mad

[2020-11-24 11:29] marcellosavoldi commented on #15
DONE!

[2020-11-24 11:29] #15 closed

[2020-11-24 11:33] #10 closed

[2020-11-24 11:33] maurizbo opened #18 "ECAD - STM32H745IIK6 - 14464 - Microcontroller dual core ARM Cortex-M4"
| |  |
|:---|:---|
| Datasheet component  | see Wingst |
|maker info | ST Microelectronics - STM32H745IIK6 |
| Alias Creo | [Alias or filename MCAD] |
| MCAD Contact | @marcellosavoldi  |
| ECAD Contact | @maurizbo  |

Image with origin e PIN 1 position by PADS:

![image](https://user-images.githubusercontent.com/53302701/100088930-3452c380-2e51-11eb-9346-9c301474c694.png)

Attachment:

Notes:

##

[2020-11-24 11:35] marcellosavoldi commented on #14
We change the connector with a new existing code.
see "MOLEX-UUSB-B-5-FEM90_NO-FLANGES"

[2020-11-24 11:35] #14 closed

[2020-11-24 11:37] marcellosavoldi commented on #16
@simeonedussoni , have you some more information about this component?
I noted also wingst info are missing.

[2020-11-24 11:39] #11 closed

[2020-11-24 11:50] maurizbo opened #19 "ECAD - TXO-2016-33-250-TR - 15127 - Oscillator, TCXO, 25MHz, 3.3V, 2.5ppm, SMD, 2x1.6mm"
### request:
| description| box to edit| notes|
|:---|:---|:---|
| Datasheet component  | | |
|maker info |  | |
| Alias Creo | | |
| MCAD Contact | @marcellosavoldi
| ECAD Contact | @maurizbo | |

legend:
 "*" = To compile only if this information are missing in the database (Wingst)
  "**" = To compile only it is a preliminary name

### Image with origin e PIN 1 position by PADS
(this info is ma

[2020-11-24 12:01] maurizbo opened #20 "ECAD - KSZ8563RNX - 15131 - Ethernet switch with 1588v2 PTP"
### request:
| description| box to edit| notes|
|:---|:---|:---|
| Datasheet component  || |
|maker info |  | |
| Alias Creo || |
| MCAD Contact | @marcellosavoldi  |  |
| ECAD Contact | @maurizbo  | |

legend:
 "*" = To compile only if this information are missing in the database (Wingst)
  "**" = To compile only it is a preliminary name

### Image with origin e PIN 1 position by PADS
(this info

[2020-11-24 13:18] fiorisi commented on #8
@marcellosavoldi perfetto, procediamo pure con 'ordine!

[2020-11-24 13:59] marcellosavoldi commented on #13
CHi @simeonedussoni ,
I presume the connector is drawed with tje PIN1 in the top-left position as the datasheet shown:
In the pre-compiled form is request the picture because the mechanical drawer needs to understand the right position of the SYS.
following my interpretation:
![image](https://user-images.githubusercontent.com/53296021/100093341-b1813700-2e57-11eb-85a3-ac81f3ff3251.png)

[2020-11-24 15:17] maurizbo opened #21 "ECAD - MAX6741XKTGD3+T - 15145 - Supervisory Circuits Low-Power"
### request:
| description| box to edit| notes|
|:---|:---|:---|
| Datasheet component  | | |
|maker info | | |
| Alias Creo || |
| MCAD Contact | @marcellosavoldi  |  |
| ECAD Contact | @maurizbo  | |

legend:
 "*" = To compile only if this information are missing in the database (Wingst)
  "**" = To compile only it is a preliminary name

### Image with origin e PIN 1 position by PADS
(this info

[2020-11-24 15:26] marcellosavoldi commented on #13
@simeonedussoni , if you confirm you can close the issue:
![image](https://user-images.githubusercontent.com/53296021/100114503-cb2f7800-2e71-11eb-9396-4872ca136c45.png)

[2020-11-24 16:01] marcellosavoldi commented on #16
I found this.... could be?
![image](https://user-images.githubusercontent.com/53296021/100118968-a8539280-2e76-11eb-9ade-9f0f96426132.png)

[2020-11-24 16:21] simeonedussoni commented on #16
ies it is

[2020-11-24 16:25] simeonedussoni commented on #13
correct, pin 1 is the one you guessed, can finalize and close

[2020-11-24 16:25] #13 closed

[2020-11-25 09:40] marcellosavoldi opened #22 "Standard Topic - [define the PLUG connector Alias name]"
## PLUG CONNECTOR

we have to define the Alias name of all plug connector.
After this we have to move the information in the WIKI

[2020-11-25 09:45] fiorisi commented on #22
@marcellosavoldi maybe we can use the standard convention for commercial parts?
In this case would be  `manufacturer`_ `part code`.

[2020-11-25 09:50] marcellosavoldi commented on #22
We have to follow the electronics convention used until now...

[2020-11-25 09:52] fiorisi commented on #22
Ok I see. Thinking it thoroughly, in general for this kind of parts we can use directly the WINGST code, probably it is not useful to create "codici parlanti".

[2020-11-25 10:04] marcellosavoldi commented on #22
Following a list of all connector that I'go to updated every time I need to create a new plug connector, and after I'll go to move the information in the  [WIKI page](https://github.com/icub-tech-iit/cad-libraries/wiki/Plug-Connectors-mating-list)

|                  Board connector              |     Plug connector             |     ALIAS   PLUG    |     IIT-CODE     PLUG    |     Lib .part   don

[2020-11-25 10:18] marcellosavoldi commented on #22
... I don't like an ALIAS as Wingst CODE...

[2020-11-25 15:33] fiorisi commented on #22
cc @icub-tech-iit/silo-mech

[2020-11-25 18:45] marcellosavoldi commented on #22
NEXT PLUG TO DO:
|     ALIAS BOARD CONN                              |     LIB. PART     |                            |     ALIAS PLUG CONN     |     LIB. PART    |
|-----------------------------------------------|-----------------|-------------------|----------------------------|------------------|
|     PICOBLADE-2X1-MALE90-P125              |     DONE         |     MATE WITH    |     MOLEX_5102

[2020-11-26 09:06] maurizbo opened #23 "ECAD - 74AVC4T3144GU12 - 15146 - EEPROM 512Kbit"
### request:
| description| box to edit| notes|
|:---|:---|:---|
| Datasheet component  | [link or attachment ] * | |
|maker info | [Maker brand + serial number] * | |
| Alias Creo | [74AVC4T3144GU12] **| |
| MCAD Contact | @marcellosavoldi |  |
| ECAD Contact | @maurizbo | |

legend:
 "*" = To compile only if this information are missing in the database (Wingst)
  "**" = To compile only it is a p

[2020-11-26 09:42] maurizbo opened #24 "ECAD - M95512-DFMC6 - 15152 - EEPROM memory, 512Kbit, 10Mhz, 1,7/5.5V"
### request:
| description| box to edit| notes|
|:---|:---|:---|
| Datasheet component  | [link or attachment ] * | |
|maker info | [Maker brand + serial number] * | |
| Alias Creo | [Alias or filename MCAD] **| |
| MCAD Contact | @marcellosavoldi  |  |
| ECAD Contact | @maurizbo  | |

legend:
 "*" = To compile only if this information are missing in the database (Wingst)
  "**" = To compile only

[2020-11-26 14:43] maurizbo opened #25 "ECAD - LT8620EUDD - 15156- Voltage regulator, switching, step-down"
### request:
| description| box to edit| notes|
|:---|:---|:---|
| Datasheet component  | [link or attachment ] * |  |
|maker info | [Maker brand + serial number] * |  |
| Alias Creo | [LT8620EUDD] **|  |
| MCAD Contact | @marcellosavoldi  |  |
| ECAD Contact | @maurizbo |  |

legend:
 "*" = To compile only if this information are missing in the database (Wingst)
  "**" = To compile only it is a p

[2020-11-26 16:28] maurizbo opened #26 "ECAD - IND-3X3-3UH3-2A2-20TOL - 15159 - Power inductor 3X3X2"
### request:
| description| box to edit| notes|
|:---|:---|:---|
| Datasheet component  | [link or attachment ] * | |
|maker info | [Maker brand + serial number] * | |
| Alias Creo | [Alias or filename MCAD] **| |
| MCAD Contact | @marcellosavoldi  |  |
| ECAD Contact | @maurizbo  | |

legend:
 "*" = To compile only if this information are missing in the database (Wingst)
  "**" = To compile only

[2020-11-27 16:48] marcellosavoldi opened #27 "Modification part request-[ISO7045_Z]-[added M3x14 into family table]"
|               |                         |
|:--------------|:------------------------|
| type of part  | [MCAD ]            |
| Alias Creo    | ISO7045_Z (add V3-14--_-_ISO7045_CZ )       |
| IIT-Code      | [2542]            |
| Applicant     | Marcello Savoldi, @marcellosavoldi  |
| supervisor    | Luca Fiorio, @fiorisi  |
| other people involved |  @icub-tech-iit/silo-mech       |

## Descript

[2020-11-27 17:03] maurizbo opened #28 "ECAD - IND-2_5X2-3UH3-1A3-20TOL - 15162 - Power inductance shielded"
### request:
| description| box to edit| notes|
|:---|:---|:---|
| Datasheet component  | [link or attachment ] * | |
|maker info | [Maker brand + serial number] * | |
| Alias Creo | [Alias or filename MCAD] **| |
| MCAD Contact | @marcellosavoldi  |  |
| ECAD Contact | @maurizbo  | |

legend:
 "*" = To compile only if this information are missing in the database (Wingst)
  "**" = To compile only

[2020-11-30 11:52] Elio75 opened #29 "Modification part request-[ISO2338_B]-[Dowel Pins]"
|               |                         |
|:--------------|:------------------------|
| type of part  | [MCAD ]            |
| Alias Creo    | [ISO2338_B.prt (generic)]        |
| IIT-Code      | [if present]            |
| Applicant     | @Elio75  |
| supervisor    | @marcellosavoldi  |

## Description and motivation of the changing request: <br>
We need to add tree missing variants :
-  S1_5-1

[2020-11-30 12:04] marcellosavoldi commented on #29
Following the Bossard code to add in wingst
|    |    bossard code        |   D   |  L   |
|--|-----------|-----|----|
| - | serie BN 684 - art. 1255606 | 1,5 | 12 |
| - | serie BN 684 - art. 1117254 | 1,5 | 14 |
| - | serie BN 684 - art. 1117262 | 1,5 | 16 |
| - | serie BN 684 - art. 1117270 | 1,5 | 20 |

[2020-12-02 10:06] Elio75 commented on #29
|    |    Wingst code        |   Alias  |     |
|--|-----------|-----|----|
|    |    15167        |   S1_5-12--_-_I2338_B  |     |
|    |    15168        |   S1_5-14--_-_I2338_B  |     |
|    |   15170     |   S1_5-16--_-_I2338_B  |     |
|    |   15171     |   S1_5-20--_-_I2338_B  |     |

[2020-12-03 10:26] Fabrizio69 commented on #8
Ciao @marcellosavoldi in questo momento abbiamo in corso [questo ordine](https://github.com/icub-tech-iit/purchases/issues/827), se volete aggiungere materiale, metto in cc @maggia80 e se per lui va bene, credo non ci siano problemi. Scusate il ritardo....
Ciao

cc: @fiorisi @fbiggi

[2020-12-04 11:00] #29 closed

[2020-12-15 17:11] maurizbo opened #30 "ECAD - USB3_C_1054500101 -15047 - Molex USB 3.1 tiype C - 24 pin"
### request:
| description| box to edit| notes|
|:---|:---|:---|
| Datasheet component  | [link or attachment ] * | |
|maker info | [Maker brand + serial number] * | |
| Alias Creo | [Alias or filename MCAD] **| |
| MCAD Contact | [name Surname] [nick git] |  |
| ECAD Contact | [name Surname] [nick git] | |

legend:
 "*" = To compile only if this information are missing in the database (Wingst)

[2020-12-15 17:26] maurizbo opened #31 "ECAD - CL-SB-12A-01T - 15179 - Switch slide 3 pin vertical"
### request:
| description| box to edit| notes|
|:---|:---|:---|
| Datasheet component  | [link or attachment ] * | |
|maker info | [Maker brand + serial number] * | |
| Alias Creo | [Alias or filename MCAD] **| |
| MCAD Contact | @marcellosavoldi  |  |
| ECAD Contact | @maurizbo  | |

legend:
 "*" = To compile only if this information are missing in the database (Wingst)
  "**" = To compile only

[2020-12-16 12:09] maurizbo commented on #22
NEXT PLUG TO DO:
| ALIAS BOARD CONN | LIB. PART | | ALIAS PLUG CONN | LIB. PART |
|-----------------------------------------------|-----------------|-------------------|----------------------------|------------------|
| PICOBLADE-2X1-MALE90-P125 | DONE | MATE WITH | MOLEX_51021-0200 | IIT 3002|
| PICOBLADE-2X1-MALESTR-P125 | | MATE WITH |MOLEX_51021-0200 | IIT 3002 |
| PICOBLADE-3X1-MALE90-P125 |

[2020-12-16 12:11] maurizbo commented on #22
@MrAndrea
new code (plug to be used on UZCB)
PICOLOCK-12X1-MALE90-P150| |MATE WITH | MOLEX_504051-1201| IIT 15184 new code

[2020-12-16 16:23] marcellosavoldi commented on #30
done

[2020-12-16 16:23] #30 closed

[2021-01-14 10:47] Mick3Lozzo commented on #8
@fbiggi @marcellosavoldi la vite è stata normalizzata a WinGST? È stato aggiunto il costruttore ed il fornitore?

[2021-01-14 13:18] maggia80 commented on #8
se entrambi vendono questo componente puoi mettere entrambi i fornitori.

[2021-01-18 08:39] Mick3Lozzo commented on #8
Fatto, secondo me questa issue si potrebbe chiudere.

[2021-01-18 13:48] fiorisi commented on #8
Thanks @Mick3Lozzo! Just two minor comments:

The `Mitor` supplier was already there and it is still valid?
![image](https://user-images.githubusercontent.com/8970230/104922510-1f029d00-599b-11eb-9886-3ded6115d098.png)

The description needs to be updated with `INOX A4`.
![image](https://user-images.githubusercontent.com/8970230/104923229-0e9ef200-599c-11eb-8572-dd84a8418e8d.png)

[2021-01-19 10:57] Mick3Lozzo commented on #8
@fiorisi updated description.
I don't know if Mitor is still valid as a supplier, but anyway I can't delete it. Only @Fabrizio69 can.

[2021-03-09 08:28] marcellosavoldi commented on #23
done!

[2021-03-09 08:28] #23 closed

[2021-03-09 08:30] marcellosavoldi commented on #25
done!

[2021-03-09 08:30] #25 closed

[2021-03-09 08:31] marcellosavoldi commented on #26
done!

[2021-03-09 08:31] #26 closed

[2021-03-24 21:49] maurizbo opened #33 "ECAD-[DF12NC-20DS-0.5V(51)]-[ 15299]-[ Mezzanine connector, straight, SMD]"
### request:
| description| box to edit| notes|
|:---|:---|:---|
| Datasheet component  | [link or attachment ] * | |
|maker info | [Maker brand + serial number] * | |
| Alias Creo | [Alias or filename MCAD] **| |
| MCAD Contact | [name Surname] [nick git] |  |
| ECAD Contact | [name Surname] [nick git] | |

legend:
 "*" = To compile only if this information are missing in the database (Wingst)

[2021-03-24 22:50] maurizbo opened #34 "ECAD -[ DSS45160FDB ]-[ 15288 ]-[ COMPLEMENTARY NPN/PNP Transistor ]"
### request:
| description| box to edit| notes|
|:---|:---|:---|
| Datasheet component  | [link or attachment ] * | |
|maker info | [Maker brand + serial number] * | |
| Alias Creo | [Alias or filename MCAD] **| |
| MCAD Contact | [name Surname] [nick git] |  |
| ECAD Contact | [name Surname] [nick git] | |

legend:
 "*" = To compile only if this information are missing in the database (Wingst)

[2021-04-06 07:30] maurizbo opened #35 "ECAD-[DF12NC-4_0-20DP-0V5]-[15309]-[Mezzanine, 20 contacts, 2 rows, female, p.0.5mm, Straight, SMD"
### request:
| description| box to edit| notes|
|:---|:---|:---|
| Datasheet component  | [link or attachment ] * | |
|maker info | [Maker brand + serial number] * | |
| Alias Creo | [HIROSE-DF12NC-4_0-20DP-0V5] **| |
| MCAD Contact | [name Surname] [nick git] |  |
| ECAD Contact | [name Surname] [nick git] | |

legend:
 "*" = To compile only if this information are missing in the database (Wingst

[2021-05-07 08:59] marcellosavoldi commented on #35
DONE!
![image](https://user-images.githubusercontent.com/53296021/117425662-47e77780-af23-11eb-982e-17ad0f6f3eb1.png)

[2021-05-07 08:59] #35 closed

[2021-06-15 14:01] divyashah opened #36 "TQ_ILM50x08 & TQ_ILM50x14 - New frameless motors"
|Description | Field |
|:---|:---|
| Datasheet component  | [Web link](https://www.tq-group.com/filedownloads/files/products/robodrive/data-sheets/en/DRVA_DB_Servo-Kits_ILM_EN_Rev408_Web.pdf) |
| Project | Generic |
| Alias Creo | TQ_ILM50x08 & TQ_ILM50x14 |
| IIT-Code | [if available] |
| Applicant | Divya Shah, @divyashah  |
| Supervisor | Marcello Savoldi, @marcellosavoldi  |
| Maintainer | Mar

[2021-06-16 08:29] fiorisi commented on #36
Great @divyashah!

Can you check on the manufacturer website, or directly contact the supplier?
As seen together there are some STEP files in the ZIP attached to https://github.com/icub-tech-iit/electronics-boards/issues/76#issuecomment-788860587.

Nevertheless I would check that is the correct revision before adding it to the library.

[2021-06-17 09:34] divyashah commented on #36
It seems that the step file in the zip and also the files on the manufacturer website are the latest revision. The motors received comply with all the major dimensions.

[2021-06-17 09:51] divyashah commented on #36
Thanks @fiorisi  for pointing this out.
Following the these guidelines and the discussion with @marcellosavoldi , we decided to design the components as follows:
- Rotors : designed with **"features"** and assigned the type `COSM`
- Stators (with PCB) : imported from the STEP file and assigned the type `MOTR`

The following assembly and part files will then be added to the [`cad-libraries\librarie

[2021-06-17 10:06] divyashah commented on #36
Here are some renders of the assemblies:

**TQ_ILM50x08**
![render_50x08](https://user-images.githubusercontent.com/16266334/122375508-91d06e00-cf63-11eb-854d-7e7b59784687.jpg)

**TQ_ILM50x14**
![render_50x14](https://user-images.githubusercontent.com/16266334/122375267-59c92b00-cf63-11eb-9e59-004c6dae7bf4.jpg)

[2021-06-17 10:18] divyashah commented on #36
The following assembly and part files were committed to the [`cad-libraries\libraries\motors_and_gearboxes`](https://github.com/icub-tech-iit/cad-libraries/tree/master/libraries/motors_and_gearboxes):

[code]

[code]

Can someone review it once ?? @fiorisi  @marcellosavoldi

cc @icub-tech-iit/silo-mech

[2021-06-17 13:54] fiorisi commented on #36
Great job @divyashah 🚀  Here some comments:

I've requested the user: https://github.com/icub-tech-iit/tickets/issues/1411

In this case please **double check** the dimensions and all the small features (e.g. chamfers). Even a small error (less than a mm) could result in a not working prototype.

Did you check the mass properties? Also for the imported part. I've added a small guide here https://g

[2021-06-18 14:06] MrAndrea commented on #36
@fiorisi I added the `TQ` company on the _Anagrafica/Costruttori_ on Wingst:

![image](https://user-images.githubusercontent.com/20459541/122572915-8312b580-d04e-11eb-83a2-6d3a404e5610.png)

Regarding the description, I think it is quite good but you can add something in order to have similar sentence like other motor codes.

[2021-06-30 14:29] divyashah commented on #36
Thanks @fiorisi for the feedback!
I made updates in the parts as below:

I didn't find a separate drawing of the rotor itself. However, I did cross check the dimensions from the assembly drawings and from the physical rotor component.

I updated the mass properties for each part as well the assembly as per these guidelines.

I removed the additional parameters as mentioned here. I kept `DESIGNED`

[2021-06-30 14:34] divyashah commented on #36
Thanks @MrAndrea for the feedback!

I added the description that @marcellosavoldi suggested, which was in the description in the purchase order on `WINGST`.

![image](https://user-images.githubusercontent.com/16266334/123979066-ae878f80-d9c0-11eb-99d8-13c9e214b37a.png)

Could you maybe point me to one or two motors as example from which I can update the description ??

[2021-06-30 14:58] fiorisi commented on #36
Great @divyashah!

The mass properties shall be assigned only to the parts, not to the assemblies.

Fine for me.

Great! Can you also add the datasheets to our [common folder](https://github.com/icub-tech-iit/cad-mechanics#other-material)? There is a `Motors` folder, inside feel free to create a folder for this manufacturer. In this way we can the reference it from WINGST.

[2021-06-30 15:54] divyashah commented on #36
I created a sub-folder named `TQ`. I added some datasheet files and also the .zip that was available from the supplier. I will keep updating it as I have more details.

[2021-07-02 14:02] fiorisi commented on #36
Great @divyashah.

I would remove the `Motor` in both the assemblies. If we use actuation for certain simulations should be located in the top level assembly. Otherwise different joint have the same `Motor`.
![image](https://user-images.githubusercontent.com/8970230/124285135-ee2fb200-db4d-11eb-92d4-72b94c7405ff.png)

If I am not mistaken the weight of the ILM50x08 [should be 87 g](https://www.tq-

[2021-07-02 14:11] fiorisi commented on #36
Also the ILM50x14 [should be 135 g](https://www.tq-group.com/en/products/tq-robodrive/servo-kits-brakes-and-sensors/ilm50x14/). While the CAD assembly seems to be 62.
![image](https://user-images.githubusercontent.com/8970230/124287294-23d59a80-db50-11eb-8c02-231356dd495b.png)

[2021-07-05 12:32] divyashah commented on #36
Yes, that's true. I will remove the `Motor` from the assemblies.

Yes, the assembly weights for the motors (stator + rotor) for ILM50x08 and ILM50x14 are 87g and 135g respectively.

I did not find the different mass specifically in datasheets. But I physically weighed the individual stator and rotor components to have the weight distribution as below:

|     Part     |  Measured Mass [kg] | CAD Vo

[2021-07-05 13:45] fiorisi opened #38 "[Typo in folder name] - [Correct the type in the folder for panel comnnectors]"
## Description of the task

The folder `https://github.com/icub-tech-iit/cad-libraries/tree/master/libraries/electronics/pannel_components` has a typo in `pannel` name.
We should correct it and update the `search path`.

[2021-07-05 13:57] salvi-mattia opened #39 "[ICYBOX_IB-AC527] - [USB Sound Card Adapter]"
| Description | Field |
|:---|:---|
| Datasheet component  | https://www.distrelec.it/Web/Downloads/_t/ds/ib-ac527_eng_tds.pdf |
| project | icub head |
| Alias Creo | ICYBOX_IB-AC527 |
| IIT-Code | 5988  |
| Applicant | @salvi-mattia  |
| supervisor | @fiorisi  |

### Attachment:

### Notes:

### Checklist:
- [x] Created the Alias following [the standard convention](https://github.com/icub-tech-i

[2021-07-05 14:15] maggia80 commented on #39
@salvi-mattia this component was used in the talking-head we should have already the part

[2021-07-05 14:19] salvi-mattia commented on #39
maybe it's similar

![immagine](https://user-images.githubusercontent.com/43994292/124485234-aa86b380-ddac-11eb-812b-49db405646d1.png)

I created this one
https://www.distrelec.it/Web/Downloads/_t/ds/ib-ac527_eng_tds.pdf

[2021-07-05 14:27] salvi-mattia commented on #39
according to @pattacini I'm going to use the already existing component reported here above by @maggia80

I'm not going to commit the new icybox component (cc @fiorisi )

[2021-07-06 09:00] fiorisi commented on #39
I'm not going to commit the new icybox component (cc @fiorisi )

[2021-07-06 10:55] divyashah commented on #36
We understood that the difference in the mass properties arise due to a newer way of using mass properties in Creo 7.0.
Here is a screenshot describing which parameters to use to assign a density to a part.

![image](https://user-images.githubusercontent.com/16266334/124585500-a367b000-de55-11eb-94af-ad7239653a37.png)

Here are the reference links to the related guides from PTC Support for Creo 7.

[2021-07-07 08:22] salvi-mattia opened #40 "SWITCHCRAFT_35RASMT4BHNTRX - PCB connector, jack stereo, 5 contact"
| Description | Field |
|:---|:---|
| Datasheet component  | [link or attachment ] |
| project | iCub head |
| Alias Creo |SWITCHCRAFT_35RASMT4BHNTRX|
| IIT-Code | 5280  |
| Applicant | @salvi-mattia  |
| supervisor | @fiorisi  |

### Attachment:

### Notes:

### Checklist:
- [x] Created the Alias following [the standard convention](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-de

[2021-07-07 08:26] salvi-mattia commented on #39
DONE

[2021-07-07 09:32] fiorisi commented on #40
Thanks @salvi-mattia 🚀

Just few comments.

The material assigned is 17-4PH. Please follow the [guidelines](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#mass-properties-of-commercial-parts) 😉
![image](https://user-images.githubusercontent.com/8970230/124731681-bee4c080-df12-11eb-9a0d-cfb080125902.png)

Some parameters in commercial parts [should be removed](http

[2021-07-07 10:00] fiorisi commented on #39
@salvi-mattia can you check the same issues commenter here https://github.com/icub-tech-iit/cad-libraries/issues/40#issuecomment-875448941?

[2021-07-07 10:02] salvi-mattia commented on #40
as we said on teams, this is a steel part both in real life and in cad,
it weights exactly the same both in cad and in RL
the question is: do I have to change it again?

[2021-07-07 11:03] salvi-mattia opened #41 "PWB_ENCODER-103839 - AMO magnetic target"
| Description | Field |
|:---|:---|
| Datasheet component  | file:///C:/Users/msalvi/AppData/Local/Temp/MU7S_64-63N_PWB.pdf|
| project | [where we are going to assembly the part libraries] |
| Alias Creo | PWB_ENCODER-103839  |
| IIT-Code | 10077 |
| Applicant | @salvi-mattia  |
| supervisor | @fiorisi  |

### Attachment:

### Notes:
it's not possible to assign a specifc density to the component d

[2021-07-07 11:03] salvi-mattia commented on #40
it's not possible to assign a specifc density to the component due to the problem of materials and bodies seen with @fiorisi
in the meanwhile I'm going to assign it an existing material with similar mass properties

[2021-07-07 11:03] salvi-mattia commented on #39
it's not possible to assign a specifc density to the component due to the problem of materials and bodies seen with @fiorisi
in the meanwhile I'm going to assign it an existing material with similar mass properties

[2021-07-07 15:34] fiorisi commented on #36
Thanks @divyashah, @salvi-mattia is experiencing the same issue.

This could be a good case for the DEDA support team (cc @marcellosavoldi)

[2021-07-08 12:46] Mick3Lozzo opened #42 "[Intel] - [INTEL_REALSENSE_D450] - [Intel RealSense Camera D450]"
| Description          | Intel Realsense D450, range from 0.52 to 6m, FOV H87 V58 de   |
|:---------------------|:---------------------------------------|
| Datasheet component  |  [Intel-RealSense-D400-Series-Datasheet-June-2020.pdf](https://github.com/icub-tech-iit/cad-libraries/files/6784597/Intel-RealSense-D400-Series-Datasheet-June-2020.pdf), [D450_camera-module_asm_external.zip](https://gith

[2021-07-08 13:03] Mick3Lozzo commented on #42
*   The item still does not have an IIT-Code
*   Mass properties are uncertain, we have to check when we buy one.

[2021-07-08 13:20] fiorisi commented on #42
@Mick3Lozzo can you please edit the issue title?

[2021-07-08 14:27] Mick3Lozzo opened #43 "[Intel] - [INTEL_REALSENSE_D455] - [Intel RealSense Camera D455]"
| Description          | Intel Realsense D455, range from 0.52 to 6m, FOV H87 V58 de  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [Intel_RealSense_D455_CAD_external_v2.zip](https://github.com/icub-tech-iit/cad-libraries/files/6785251/Intel_RealSense_D455_CAD_external_v2.zip), [Intel-RealSense-D400-Series-Datasheet-June-2020.pdf](https://github.com/i

[2021-07-08 14:34] Mick3Lozzo commented on #43
*   This component still does not have an IIT-code
*   The mass should be 387 g, better to verify if we buy one.

[2021-07-08 14:37] fiorisi commented on #43
Which is the source of this number?

[2021-07-08 16:05] Mick3Lozzo commented on #43
My mistake, this is the weight of the complete package, I found another discussion [here](https://support.intelrealsense.com/hc/en-us/community/posts/360049877673-Weight-of-D455-Depth-Camera-).

_There is not currently an official weight for the D455 in the datasheet at the time of writing this, as you observed.  I did a very rough measuring test of a D435 and D455 with miniature kitchen scales wi

[2021-07-08 16:29] fiorisi commented on #43
I would write to the manufacturer asking the precise wights. Meanwhile we asked to DEDA to check the mismatch between the computed and assigned masses. The issue can not be closed for the time being.

[2021-07-09 13:29] divyashah commented on #36
I did the following updates on the motor files:
- Removed `Motor` from the assembly files.
- Added a **index hole** in the Rotors that was previously missing.
- Changed the legacy parameter `MP_DENSITY` to assign the calculated density and updated the mass properties.

Now the computed mass from the CAD files are as follows:
- TQ_ILM50x08 : **~83g** (rated mass = 87g)
- TQ_ILM50x14 : **~142g** (ra

[2021-07-09 15:28] MrAndrea commented on #36
Hi @divyashah, you can select the category `MO - Motors` on Wingst and for example write `frameless` in the description, then see the items:

![image](https://user-images.githubusercontent.com/20459541/125101688-cb1b7a00-e0da-11eb-81bf-2cfbae0f61fc.png)

[2021-07-12 12:53] divyashah commented on #36
Thanks @MrAndrea for the reference!

I updated the CAD assembly files with the following description (adding rated Torque (Tr) and rated current (Ir)).

`TQ_ILM50x08 frameless stator-rotor assembly; Tr=0.3 Nm; Ir=5.1 A`

`TQ_ILM50x14 Frameless stator-rotor assembly; Tr=0.54 Nm; Ir=5.3 A`

However, I think we still need to add these motors to the WINGST database.

[2021-07-12 13:12] maggia80 commented on #42
![image](https://user-images.githubusercontent.com/6987330/125293220-80407300-e323-11eb-8b14-c97bcf81c9bb.png)

and bottom:

![image](https://user-images.githubusercontent.com/6987330/125293281-8c2c3500-e323-11eb-80f1-4605ec3e762e.png)

[2021-07-13 08:53] Mick3Lozzo commented on #42
@maggia80 I've found the CAD model of the board. Does it already have a WinGST code?

![](https://user-images.githubusercontent.com/15085666/125422221-6a2ac222-ac5c-4051-a971-0f73f8c92659.png)

[2021-07-13 09:25] Mick3Lozzo opened #44 "Intel - [INTEL_REALSENSE-VISION-D4] - [Intel, RealSense, Vision Processor D4 Board]"
| Description        | Intel® RealSense™ Vision Processor D4     |
|:-------------------|:--------------------------------------|
| Datasheet          | [Intel_RealSense_Vision_Processor_D4_USB_Type_C_V05_PC066105.STEP_.zip](https://github.com/icub-tech-iit/cad-libraries/files/6807634/Intel_RealSense_Vision_Processor_D4_USB_Type_C_V05_PC066105.STEP_.zip), [Intel-RealSense-D400-Series-Datasheet-Jun

[2021-07-13 11:27] divyashah commented on #4
For the new parts that we add to `cad-libraries` should we convert the license manually ??
Or do we have any updates on having a script to convert the licenses ??

cc @fiorisi  @marcellosavoldi

[2021-07-13 13:53] maggia80 commented on #42
to connect the module with the board there are two options:

1. from Intel: a rigid PCB that fix the two parts one over the other more or less like in the picture above. Mouser link https://www.mouser.it/ProductDetail/Intel/82635DSITR50P?qs=wd5RIQLrsJhIJqpBcxiaKQ%3D%3D

2. a flexible PCB with different length provided by FRAMOS: https://www.framos.com/en/hsf50-22273 This option is preferable we sh

[2021-07-13 16:21] marcellosavoldi commented on #4
eh... good question...
I forgot this issue ...We need to investigate!
@fiorisi ...How we made for the cad-libraries-pubblic ?

[2021-07-14 12:39] fiorisi commented on #36
Great @divyashah! 🚀

Just few questions.

Do you have a reference to document the hole location here?

Did you find this solution in the Creo help? Do you have a page to link?

Which is the description of the `_rotor` and `_stator` `prt`?

Yes, in this case we add only the `prt` not the assembly. @marcellosavoldi can show you how to manually create the WINGST codes or how to create a BOM to import

[2021-07-14 12:43] fiorisi commented on #42
Great @Mick3Lozzo!

Is it possible to remove all the small features from the [3D model](https://github.com/icub-tech-iit/cad-libraries/issues/42#issuecomment-878903609) so that is lighter to open and render?

[2021-07-14 13:16] fiorisi commented on #4
Yes @divyashah, for the time being we have to do it manually for the files that we manipulate/create.

[2021-07-14 14:07] divyashah commented on #36
Thanks @fiorisi for the feedback,

Yes, it is given in the motor drawings. Here are the snapshots of it.

![image](https://user-images.githubusercontent.com/16266334/125631818-aba394b9-46dc-42f1-8b39-f174f600e6f6.png)

![image](https://user-images.githubusercontent.com/16266334/125631536-2dcc6f4b-f1cb-420e-84f5-ed98263f94a1.png)

Yes, it was mentioned in the CREO help. I added the links in this co

[2021-07-14 14:36] Mick3Lozzo commented on #42
**D450 weight**: 29,8 g

[2021-07-14 14:37] Mick3Lozzo commented on #42
Probably. I imported directly the step file as it was, we could re-import it or work on the already imported part.

[2021-07-14 14:38] Mick3Lozzo commented on #44
**Board weight**: 4 g.

[2021-07-14 14:57] Mick3Lozzo commented on #42
As already reported by @divyashah [here](https://github.com/icub-tech-iit/cad-libraries/issues/36#issuecomment-874661606) we still have a problem assigning the correct density to commercial components.
Here, this value should be 0.0000037162 but Creo rounds it up to 0.000004.

![](https://user-images.githubusercontent.com/15085666/125642548-8b7f2e20-a56f-45a2-b496-2830142c113a.png)

So, the overal

[2021-07-14 15:17] Mick3Lozzo commented on #44
![](https://user-images.githubusercontent.com/15085666/125646317-b1532712-bc50-428c-910a-074223eb106f.png)

This is the best result we can obtain, for now, given the known problem with density. 3,7 g.

[2021-07-14 15:44] Mick3Lozzo commented on #42
[Interposer.zip](https://github.com/icub-tech-iit/cad-libraries/files/6817296/Interposer.zip)

Found an unofficial `step` of the rigid PCB, I'll put it in `cad-libraries`.

[2021-07-14 15:49] fiorisi commented on #42
Thanks @Mick3Lozzo.

I would not close the issue. We close it once the mass properties are correct.

[2021-07-14 15:50] fiorisi commented on #44
I would not close the issue. We close it once the mass properties are correct.

[2021-07-15 13:57] Mick3Lozzo opened #45 "[Intel] - [Intel_82635DSITR50P] - [Intel, RealSense D400 series, interposer]"
| Description          | Intel RealSense D400 series interposer  |
|:---------------------|:---------------------------------------|
| Datasheet component  |  [Intel_RealSense_D400_Family_Datasheet_Jan2019.pdf](https://github.com/icub-tech-iit/cad-libraries/files/6823591/Intel_RealSense_D400_Family_Datasheet_Jan2019.pdf)  |
| Project              | ergoCub   |
| Alias Creo           | INTEL_82635D

[2021-07-15 14:08] Mick3Lozzo commented on #45
[Interposer.zip](https://github.com/icub-tech-iit/cad-libraries/files/6823672/Interposer.zip)

Absolutely **unofficial** `step` file.

[2021-08-02 11:20] marcellosavoldi opened #47 "Editing [general screws]-[modification req. family table 7045-7046-5933]"
| Description   | Field                              |
|:--------------|:-----------------------------------|
| Category      | [MCAD]                        |
| Alias Creo    | [ISO7045_Z]                   |
| IIT-Code      | [several]                     |
| Applicant     | Marcello Savoldi, @marcellosavoldi            |
| Supervisor    | Luca Fiorio, @fiorisi           |
| Maintainer    | Marc

[2021-08-02 15:21] fiorisi commented on #47
@marcellosavoldi it would be nice if you can identify a reviewer for this activity.
A member of the @icub-tech-iit/silo-mech would be fine.

[2021-08-03 08:45] maurizbo opened #48 "ECAD - [DIODES] - [DXT2011P5 & DXT2012P5] - [NPN and PNP Transistors]"
| Description        | Field                                 | Notes |
|:-------------------|:--------------------------------------|:------|
| Datasheet          | [link or attachment ] *               |       |
| Manufacturer info  | [Manufacturer name + serial number] * |       |
| Alias Creo         | [Alias or filename MCAD] \**          |       |
| MCAD Contact       | Marcello Savoldi, @mar

[2021-08-05 09:47] fiorisi commented on #45
@Mick3Lozzo can you please update the mass properties of the part accordingly to the [new procedure](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#standard-part-for-commercial-components)?
Considering that you didn't use the new start part, simply remove the unused parameters, all the materials and follow the suggestions of [this comment](https://github.com/icub-

[2021-08-05 09:47] fiorisi commented on #44
@Mick3Lozzo can you please update the mass properties of the part accordingly to the [new procedure](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#standard-part-for-commercial-components)?
Considering that you didn't use the new start part, simply remove the unused parameters, all the materials and follow the suggestions of [this comment](https://github.com/icub-

[2021-08-05 09:48] fiorisi commented on #43
@Mick3Lozzo can you please update the mass properties of the part accordingly to the [new procedure](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#standard-part-for-commercial-components)?
Considering that you didn't use the new start part, simply remove the unused parameters, all the materials and follow the suggestions of [this comment](https://github.com/icub-

[2021-08-05 09:49] fiorisi commented on #42
@Mick3Lozzo can you please update the mass properties of the part accordingly to the [new procedure](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#standard-part-for-commercial-components)?
Considering that you didn't use the new start part, simply remove the unused parameters, all the materials and follow the suggestions of [this comment](https://github.com/icub-

[2021-08-05 09:49] fiorisi commented on #41
@salvi-mattia can you please update the mass properties of the part accordingly to the [new procedure](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#standard-part-for-commercial-components)?
Considering that you didn't use the new start part, simply remove the unused parameters, all the materials and follow the suggestions of [this comment](https://github.com/icu

[2021-08-05 09:49] fiorisi commented on #40
@salvi-mattia can you please update the mass properties of the part accordingly to the [new procedure](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#standard-part-for-commercial-components)?
Considering that you didn't use the new start part, simply remove the unused parameters, all the materials and follow the suggestions of [this comment](https://github.com/icu

[2021-08-05 09:49] fiorisi commented on #39
@salvi-mattia can you please update the mass properties of the part accordingly to the [new procedure](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#standard-part-for-commercial-components)?
Considering that you didn't use the new start part, simply remove the unused parameters, all the materials and follow the suggestions of [this comment](https://github.com/icu

[2021-08-05 09:49] fiorisi commented on #36
@divyashah can you please update the mass properties of the part accordingly to the [new procedure](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#standard-part-for-commercial-components)?
Considering that you didn't use the new start part, simply remove the unused parameters, all the materials and follow the suggestions of [this comment](https://github.com/icub-t

[2021-08-05 10:26] divyashah commented on #36
Thanks @fiorisi!
With this last commit, I updated the mass properties for the TQ motor files as per the new procedure. Now the mass shown in CREO is similar to the rated mass.
 - TQ_ILM50x08 : ~83g~ **86.99g** (rated mass = 87g)
- TQ_ILM50x14 : ~142g~ **134.99g** (rated mass = 135g)

There is also a small update in the CAD volume and the calculated density that was reported above (due to the addit

[2021-08-05 10:30] fiorisi commented on #36
Great!

@marcellosavoldi do you have time to review the parts and close the issue?

[2021-08-06 07:58] Mick3Lozzo commented on #44
![](https://user-images.githubusercontent.com/15085666/128477114-5baa7efb-d269-4c90-a48a-6826a5031f3e.png)

Done: 4 g

@fiorisi

[2021-08-06 08:00] #44 closed

[2021-08-06 08:07] Mick3Lozzo commented on #42
![](https://user-images.githubusercontent.com/15085666/128478231-7b588e8e-c546-41ec-8b39-d6a76c38abfa.png)

Done: 29,8 g.

cc @fiorisi

[2021-08-06 08:11] #42 closed

[2021-08-06 08:21] marcellosavoldi commented on #47
you...

[2021-08-06 08:30] Mick3Lozzo commented on #43
![](https://user-images.githubusercontent.com/15085666/128481597-f5644a3d-4dd0-4a51-a181-84f87644d2f1.png)

Done: 103 g

cc @fiorisi

[2021-08-06 08:36] #43 closed

[2021-08-06 10:35] salvi-mattia commented on #41
resolved with eccbe7a60caf917aec284b9cdf9f08fb6fe4cd39

@fiorisi i think we can close, do you agree?

[2021-08-06 10:35] salvi-mattia commented on #40
resolved with eccbe7a60caf917aec284b9cdf9f08fb6fe4cd39

@fiorisi i think we can close, do you agree?

[2021-08-06 10:35] salvi-mattia commented on #39
resolved with eccbe7a60caf917aec284b9cdf9f08fb6fe4cd39

@fiorisi i think we can close, do you agree?

[2021-08-06 10:57] marcellosavoldi commented on #48
@maurizbo , can you check the issue...
I cant find IIT-CODE and/or datasheets

[2021-08-09 15:15] fiorisi commented on #39
Can you just add a screenshot of the mass properties?

[2021-08-09 15:20] salvi-mattia commented on #40
![immagine](https://user-images.githubusercontent.com/43994292/128731027-d13b853c-e0ae-4c5b-8962-4c75b91cdfe8.png)

[2021-08-09 15:21] salvi-mattia commented on #39
![immagine](https://user-images.githubusercontent.com/43994292/128731160-4e45047a-27da-402e-8579-d7752833a7e2.png)

[2021-08-09 15:22] salvi-mattia commented on #41
![immagine](https://user-images.githubusercontent.com/43994292/128731286-5d9047ed-b12c-4926-92b6-36e634fbce9c.png)

[2021-08-09 15:55] #39 closed

[2021-08-09 15:55] #40 closed

[2021-08-10 08:27] fiorisi commented on #47
Let's see if @Mick3Lozzo or @Lawproto are willing to review this issue.

[2021-08-10 09:17] Mick3Lozzo commented on #45
According to Intel, the expected weight should be 8 g.

[2021-08-10 09:23] Mick3Lozzo commented on #45
![](https://user-images.githubusercontent.com/15085666/128842525-26827bd1-a450-48ff-bfd9-a532474baf8c.png)

Done.

[2021-08-10 09:26] #45 closed

[2021-08-10 09:28] fiorisi commented on #45
Great @Mick3Lozzo.
Can you please add the screenshot of the entire mass properties window?

[2021-08-10 11:57] Mick3Lozzo commented on #45
![](https://user-images.githubusercontent.com/15085666/128862876-0c8eb5d0-dd48-4bec-8693-8281777b8a3f.png)

[2021-08-10 14:03] Mick3Lozzo opened #49 "[Misumi] - [PACK series] - [Resin Low Head Cap Screws]"
| Description          | Resin Low Head Cap Screws (Generic)  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [P2_0219-0220_F34_IT.pdf](https://github.com/icub-tech-iit/cad-libraries/files/6962192/P2_0219-0220_F34_IT.pdf), [PACK-PEKE3-6_Creo_Parametric_6_20210810.zip](https://github.com/icub-tech-iit/cad-libraries/files/6962194/PACK-PEKE3-6_Creo_Paramet

[2021-08-11 12:48] Lawproto commented on #47
@fiorisi I am not sure I am getting what is going on this issue.

[2021-08-11 13:57] fiorisi commented on #36
@divyashah probably you can simply add the screenshot of the mass properties as done for the other components (e.g. https://github.com/icub-tech-iit/cad-libraries/issues/45). Then we can close the issue.

[2021-08-11 14:55] divyashah commented on #36
Adding the screenshots with mass properties below:

| **TQ_ILM50X08.ASM**  ~ **87 g** |
|:-----:|
|![image](https://user-images.githubusercontent.com/16266334/129049643-5796f5e9-144b-4c13-beef-172abd90bbac.png) |

---

| **TQ_ILM50X14.ASM**  ~ **135 g** |
|:-----:|
| ![image](https://user-images.githubusercontent.com/16266334/129050062-66e703e9-cc9c-4fc0-805d-fa6b25e52947.png) |

[2021-08-11 14:59] fiorisi commented on #36
Great @divyashah. You don't have the radio buttons `Computed` or `Assigned`, correct?

[2021-08-11 15:11] divyashah commented on #36
Thanks @fiorisi!
Yes, I don't have those radio buttons anymore. The mass properties are updated as per the [new procedure in the guidelines](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#mass-properties-of-commercial-parts).

| TQ_ILM50X08.ASM |
|:------:|
| ![image](https://user-images.githubusercontent.com/16266334/129054648-a6e234f0-5e59-4418-94a3-f9121c73dbab

[2021-08-12 07:46] marcellosavoldi commented on #41
I'm sorry @salvi-mattia , can I checked the box as done?
![image](https://user-images.githubusercontent.com/53296021/129158301-9b835807-ecf5-4ef8-be73-32c547add103.png)

[2021-08-12 07:51] marcellosavoldi commented on #47
@Lawproto , try to comment the rows above and comment the single row what do you need more informations.
This could be useful also for the @icub-tech-iit/silo-mech .
thanks

[2021-08-12 07:55] marcellosavoldi commented on #49
can you describe better what did you create?
could be interesting an immage and/or a screenshot of the family table for example...
thanks

[2021-08-12 09:00] marcellosavoldi opened #51 "ECAD - [LSM6DSL] - [12629] - [iNEMO inertial module]"
| Description        | Field                                 | Notes |
|:-------------------|:--------------------------------------|:------|
| Datasheet          | [link or attachment ] *               |    [ST MICROELECTRONICS - iNEMO inertial module LSM6DSL.pdf](https://github.com/icub-tech-iit/cad-libraries/files/6974098/ST.MICROELECTRONICS.-.iNEMO.inertial.module.LSM6DSL.pdf)   |
| Manufactur

[2021-08-12 09:19] fgarini commented on #51
![image](https://user-images.githubusercontent.com/84333807/129172250-d4c88b4b-3af6-484b-afb6-403686935537.png)
Decal from Pads layout

[2021-08-12 10:40] Lawproto commented on #51
@fgarini from your image I get this:

![image](https://user-images.githubusercontent.com/84333301/129183480-1b7fd351-e249-4571-be0a-37a371c37e91.png)

Is it correct?

[2021-08-12 11:03] fgarini commented on #51
yes it is centered

[2021-08-12 11:23] Lawproto commented on #51
Just as a note, I found this [cool website](https://www.ultralibrarian.com/) for downloading CAD 3D models for electronic components, both in a mechanical format (STEP) and in a electronical format. (Orcad, Altium, Pads... you name it!)
This is what ST Microelectronics itself uses as a 3D database for its own stuff.

[2021-08-12 12:49] simeonedussoni commented on #51
here the rules for the land pattern of LGA package

![immagine](https://user-images.githubusercontent.com/31098248/129199271-275174a1-682c-41b3-be68-044585e5f4e6.png)

snapshot is taken from this [ST Technical note](https://www.st.com/resource/en/technical_note/tn0018-surface-mounting-guidelines-for-mems-sensors--in-an-lga-package--stmicroelectronics.pdf)

[2021-08-12 13:37] Mick3Lozzo commented on #49
![](https://user-images.githubusercontent.com/15085666/129201841-4b7a092a-5312-4963-bb85-f1274479810c.png)

![](https://user-images.githubusercontent.com/15085666/129206472-4921b0f4-8faa-4aca-95b8-ba42708f02e5.png)

[2021-08-12 13:48] Mick3Lozzo commented on #47
If we use it, yes.

If Bossard has it, if we can buy it, I don't feel it necessary.

Is it used somewhere in the assemblies?

I **noticed**.

Well, can we correct the WinGST code, and give some advice to @Fabrizio69?

Is it used somewhere in the assemblies?

If we plan to use them, yes.

[2021-08-12 15:11] marcellosavoldi commented on #51
sorry @Lawproto ,
can you check the following things?
- I noted in the parts all parameters are missing, same for the relation.
- The mass proprieties are not right....
- the unit are in MM Newton Second  and not mm Kg Sec
- the footprint must be above the part , it is not valid to trace it :stuck_out_tongue_winking_eye: ... you have to create it from datasheet , we use it as a check
I noted littl

[2021-08-12 15:31] marcellosavoldi commented on #49
thanks @Mick3Lozzo ,
I assuming all row signed are good...
only a doubt.... off topic ....  Do we need to buy some tool to use this screws?

other curiosity.... why you didnt use a common cross recessed as following?
for exemple:
[SPE-M5_P](https://it.misumi-ec.com/vona2/detail/221000233306/?CategorySpec=00000246929%3a%3aa%2cb)
or
[PACK-PPSA](https://it.misumi-ec.com/vona2/detail/110300243360/?Cat

[2021-08-12 15:37] marcellosavoldi commented on #51
No @Lawproto , it's very important have a maximum dimensions in the cad-libraries parts ( the same happen for the PADS libraries parts )
The best better to proceed is "import" the step file in a new parts , not open directly the step file, this can solve many things for you.
All our components are done in this way.
if you are convinced otherwise, we can discuss it.

[2021-08-12 15:49] marcellosavoldi commented on #47
Thanks for the feedback

### **regarding missing screws in family table:**
Generally when I design, I try to use the screws in the family table without doing research.
From this, my proposal to insert all the existing screws in the family table.

### **regarding the screws to be removed:**
I think that the screws I have indicated do not exist, for this reason I thought they were not mounted anywhe

[2021-08-12 15:52] marcellosavoldi commented on #47
@Lawproto ... interressante!
Potrebbe valer la pena aprire un issue in cad-mechanics ...
se hai proposte e commenti ben accette!

[2021-08-13 06:56] Lawproto commented on #51
The alias here - `LSM6DSLTR` - does not match with the alias in _WinGST_:
![image](https://user-images.githubusercontent.com/84333301/129316862-c0127787-e40a-4b41-8e16-3eba480f4fea.png)

@fgarini which is the correct one?

[2021-08-13 07:36] Lawproto commented on #51
@marcellosavoldi I am trying to recreate the footprint without referencing the 3D model, as you suggested. I am having trouble finding a `y-axis` reference in the datasheet for the three pins group, though:

![image](https://user-images.githubusercontent.com/84333301/129321243-d8c1b3e7-43ba-4540-9bb4-8faf7d2c134a.png)

What should we do in cases like this?

[2021-08-13 07:46] Mick3Lozzo commented on #49
Nope. 

![](https://user-images.githubusercontent.com/15085666/129321324-24701b3f-64dd-46c9-b5c2-4b539d212ef2.png)

Mine is **1.5 mm**.

I think a Torx screwdriver should be enough.

![](https://user-images.githubusercontent.com/15085666/129322412-57659b39-bbd0-45d2-9567-3c8c72af0b2a.png)

If we want, this one. I think is similar to a Torx one @marcellosavoldi.

[2021-08-13 07:49] maurizbo commented on #51
Hi @Lawproto alias  sometimes is related to the P/N some times not, for example capacitor are

CAP-0402-X7R-100NF-16V-10TOL

sometimes related to the P/N

The important thing is that it is unique for each P/N in our lib and it is correctly linked

[2021-08-13 08:01] maurizbo commented on #51
@Lawproto,  anyway due to the fact that this component is not used yet on our boards I will change the alias according with the P/N to avoid future misunderstandic
 from LSM6DSL to LSM6DSL to LSM6DSL**TR**

[2021-08-13 08:04] marcellosavoldi commented on #51
I suppose 0.1...
![image](https://user-images.githubusercontent.com/53296021/129324965-0a35c3e2-2744-4852-a586-03bdd272041d.png)

[2021-08-13 08:09] marcellosavoldi commented on #51
I think is better open an issue for this...
could be interesting deepen the discussion.
In any case I think is very important for the component keep the maximum dimensions...

[2021-08-13 08:28] fiorisi commented on #51
Yes, I agree. We can open an issue to collect all the comments/ideas on the procedure.
Then next week we can organize a call to review the comments.

[2021-08-13 08:29] marcellosavoldi commented on #49
`If we want, this one. I think is similar to a Torx one @marcellosavoldi. Maybe we already have it in the workshop?`
to be honest I dont know...

[2021-08-13 09:18] Lawproto commented on #51
I will open an issue with my comments ASAP.
@fiorisi @marcellosavoldi

[2021-08-13 09:51] fiorisi commented on #51
@Lawproto can you check also the missing boxes before closing the issue?

![image](https://user-images.githubusercontent.com/8970230/129339285-3ae5c360-d3b4-430f-99c5-9d9930653a4e.png)

[2021-08-13 10:05] Lawproto commented on #51
@fiorisi OK.

1. `Added details about PLUG connector` seems not proper for this component - it is not a connector. Should I check it, anyway?
1. I am not sure about `Converted the files with the EDU-COM license`'s meaning. Can you help me?

[2021-08-13 13:29] #41 closed

[2021-08-16 09:31] marcellosavoldi commented on #51
No, you can miss it

![image](https://user-images.githubusercontent.com/53296021/129540091-26627ad1-6cfa-417a-baa6-dacb09e89b5a.png)
![image](https://user-images.githubusercontent.com/53296021/129540219-ab29c985-8850-4c97-b031-38eb09924500.png)
![image](https://user-images.githubusercontent.com/53296021/129542292-e498badb-ecb5-4b14-be6a-0df127ffc9c6.png)

Now save the part and remember to unsign t

[2021-08-16 10:13] fiorisi commented on #51
Thanks @marcellosavoldi. I've copied the images in a dedicated [guide](https://github.com/icub-tech-iit/cad-libraries/wiki/PTC-Creo-Guidelines#save-file-with-commercial-license).

I will also update the issue templates to point the guide.

[2021-08-16 10:43] fiorisi commented on #49
@Mick3Lozzo how did you set the material properties?

[2021-08-16 10:57] #51 closed

[2021-08-17 09:03] fiorisi commented on #47
I am also in favor of removing the screws that we can not buy or are not standard. Nevertheless, before I would check if are used in one of the main assemblies (iCub and R1).

[2021-08-18 09:32] marcellosavoldi opened #52 "[WIKI] - [draft proposal for WIKI : vademecum]"
I think it may be useful to create a page in the WIKI on cad-libraries, where we indicate the standard screws we use for our assemblies and how to search for them in cad-libraries.
For exemple:
- Use pozidrive ISO7045 screws and Philips ISO7046 screws
- For screws greater than M3 it is preferable to use UNI5931 and 5933 etc ...
- For sheet metal parts use following PEM nut...
- For plastic use fol

[2021-08-20 08:51] marcellosavoldi commented on #48
![image](https://user-images.githubusercontent.com/53296021/130207486-9373d98d-09b3-4547-8e2d-22dfac5109dc.png)

DONE

[2021-08-20 08:51] #48 closed

[2021-08-20 08:55] marcellosavoldi commented on #34
it was already existing...
I converted it in commercial license part

[2021-08-20 08:55] #34 closed

[2021-08-20 08:59] marcellosavoldi commented on #33
I created it...
but we have to change the ALIAS in

 ....  @maurizbo , can you confirm?

![image](https://user-images.githubusercontent.com/53296021/130208374-fdf84a59-baa9-47bd-9257-a830a202b1d7.png)

[2021-08-23 13:29] maurizbo commented on #33
About the alias it was already OK

![image](https://user-images.githubusercontent.com/53302701/130455648-3e8ccdb0-4ae1-40b3-a8e5-6066c52c7e9a.png)

[2021-08-24 07:41] #33 closed

[2021-08-27 07:32] marcellosavoldi opened #53 "Editing [hole-pcb]-[add a new metalized hole]"
| Description   | Field                              |
|:--------------|:-----------------------------------|
| Category      | [ECAD-MCAD]                        |
| Alias Creo    | [hole-pcb]                   |
| IIT-Code      | [if available]                     |
| Applicant     | Marcello Savoldi, @marcellosavoldi |
| Supervisor    | Andrea Mura, @MrAndrea , Luca FIorio @fiorisi   |
| Mainta

[2021-08-27 10:09] #53 closed, assigned to nobody

[2021-08-31 14:26] Elio75 opened #54 "[Replace HD components CSD-14-100-2A-GR / CSD-17-100-2A-GR in version CSD-14-100-2A-R / CSD-17-100-2A-R]"
| Description   | Field                              |
|:--------------|:-----------------------------------|
| Category      | [MCAD]                        |
| Alias Creo    | [CSD-14-100-2A-R / CSD-17-100-2A-R]                   |
| IIT-Code      | [15479 / 15483]                     |
| Applicant     | Elio Massa, @Elio75             |
| Supervisor    | Luca Fiorio, @fiorisi             |
| Ma

[2021-08-31 14:58] Elio75 commented on #54
Each HD consists of 3 parts
CSD-14-100-2A-R_A / CSD-17-100-2A-R_A
CSD-14-100-2A-R_B / CSD-17-100-2A-R_B
CSD-14-100-2A-R_B / CSD-17-100-2A-R_C

To create a new alias I made a save copy of the part by editing the new version. On the previous version I created a sketch with the word OBSOLETE in order to replace the old component with the new one using the option **Replace select component** with CREO

[2021-08-31 15:06] Elio75 commented on #54
### List of assemblies where the HD components to be replaced are located

**CSD-14-100-2A-GR**   (A , B , C)                 ICUB_FBBBBEBA

| Alias | Component | Quantity |
|:---:|:---:|:---|
| **RC_IIT_018_G_073** | A | 1 |
|RC_IIT_018_G_072  | B | 1 |
| RC_TLR_001_G_003 | C | 1 |
|**RC_TLR_003_A_003_RIGHTSHOULDER** |  |  |
| RC_IIT_003_G_022 | A/C | 2 |
| RC_IIT_003_G_021 | B | 2 |
| **RC_TLR_0

[2021-08-31 15:12] Elio75 commented on #54
Cod WGST

CSD-14-100
![image](https://user-images.githubusercontent.com/53298662/131364649-dfb8049f-62bf-46da-8932-704b0c33f208.png)

CSD-17-100
![image](https://user-images.githubusercontent.com/53298662/131513798-9f4c688f-2b99-465f-b2f9-53703921b4f2.png)

[2021-09-01 07:18] Elio75 commented on #54
### Commit made

Aggiunto nuovo componente HD [CSD-14-100-2A-R](https://github.com/icub-tech-iit/cad-libraries/commit/e92c694a061ce4ae4f443655075142afc5befb8f)
Aggiunto nuovo componente HD [CSD-17-100-2A-R](https://github.com/icub-tech-iit/cad-libraries/commit/92cebb79386c3975c7d7568eedd56364045bdba4)
Save [Edu_com](https://github.com/icub-tech-iit/cad-libraries/commit/9298ededce8d244f84ea04365962

[2021-09-02 14:22] divyashah opened #55 "Editing CUSCI_DGBB1.PRT-Adding new variants W_61705,W_61706"
| Description   | Field                              |
|:--------------|:-----------------------------------|
| Category      | MCAD                       |
| Alias Creo    | CUSCI_DGBB1.PRT                  |
| IIT-Code      | [if available]                     |
| Applicant     | Divya Shah, @divyashah             |
| Supervisor    | Luca Fiorio, @fiorisi            |
| Maintainer    | Marcello

[2021-09-02 14:48] divyashah opened #56 "SEEGER - SW-25 - Snap ring type SW for shafts"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [SW rings for shaft](https://www.seeger-orbis.com/products/snap-rings/circlips/snap-rings/circlips-to-din-9927-9928)                  |
| Project              | Generic    |
| Alias Creo           | SEEGER_SW-25                       |
| IIT-C

[2021-09-02 15:54] divyashah opened #57 "Misumi - CPLCN32-9.525-RDC14 - Flexible shaft coupling"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [Misumi Link](https://it.misumi-ec.com/vona2/detail/110300126210/?ProductCode=CPLCN32-9.525-RDC14)                  |
| Project              | Generic     |
| Alias Creo           | MISUMI_CPLCN32-9_525-RDC14-B.prt                       |
| II

[2021-09-03 11:31] fiorisi commented on #57
cc @icub-tech-iit/silo-mech

[2021-09-03 11:45] divyashah commented on #57
The MISUMI product code is `CPLCN32-9.525-RDC14` as in the title of this issue. Product is also linked in the description.

I then named the Creo part as `MISUMI_CPLCN32-9_525-RDC14-B.prt`, based on the part name of the source CAD file.
Let me know if this part name is ok, or I should update it ??
cc @fiorisi

[2021-09-03 11:53] fiorisi commented on #57
Ok I see.
Probably for codes that contain a `.` we can decide to replace it with `_`.

In this case I would add few lines in the [guidelines](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#commercial-components-coding-standard).

[2021-09-03 11:59] divyashah commented on #57
Yes, I will update the guidelines accordingly.

[2021-09-06 12:08] Mick3Lozzo commented on #49
For now, I've set PP, (Polypropylene). The correct material should be PPS (Polyphenilene Sulfide).

[Here](https://www.makeitfrom.com/compare/Polyphenylene-Sulfide-PPS/Polypropylene-PP-Homopolymer) I found a comparison between the two materials.

 

![](https://user-images.githubusercontent.com/15085666/132214854-797ce9e2-941a-4722-9d42-26f0b062bb72.png)

![](https://user-images.githubusercontent.

[2021-09-06 15:10] fiorisi commented on #49
@Mick3Lozzo please do not invent yet another method to set the material for commercial parts. We have a standard way documented in the guidelines, can you stick to it? 🙂

[2021-09-06 15:41] Mick3Lozzo commented on #49
@fiorisim yep, but this is a screw part of a family table, If we set the correct \*.mtl file it will work for all instances.

[2021-09-07 07:49] Mick3Lozzo commented on #49
Created and assigned `pps` material file, density set to 1.7^10-6 kg/mm3, the weight of a single screw results to be 0,4 g.

[2021-09-07 09:21] fiorisi commented on #49
@Mick3Lozzo I would not create a new material. Creating a material is not only about the density, there are many other parameters that must be set correctly.

Please follow the standard procedure for commercial components. If you want to change the procedure please add a point to the next @icub-tech-iit/silo-mech meeting.
Until then please **always** follow the guidelines, do not create new way of

[2021-09-07 09:55] Mick3Lozzo commented on #49
@fiorisi done. And added a point to the next silo meeting.

[2021-09-07 12:19] fiorisi commented on #49
Great. I let the maintainer @marcellosavoldi review and close the issue.

[2021-09-10 14:37] fiorisi commented on #56
@divyashah concerning the alias of these parts I would not use SEEGER_xxx.
For this kind of fasteners (like screws and bolts) we use the technical specification standard. We have to check the one that defines this components and if available in more than one decide which use.
I've opened a [dedicated page](https://github.com/icub-tech-iit/cad-mechanics/wiki/Technical-specification-standards).

[2021-09-10 14:39] fiorisi commented on #55
Ok for me. Review the alias and the family table instances with @marcellosavoldi.

[2021-09-10 14:41] fiorisi commented on #54
@Elio75 can you thoroughly review the task with a member of the @icub-tech-iit/silo-mech ?

[2021-09-10 14:46] Elio75 commented on #54
ok I ask @Mick3Lozzo if he can

[2021-09-10 16:01] Mick3Lozzo opened #59 "Editing [NVIDIA_JETSON_AGX_XAVIER_HS_CB]-[updating mass properties]"
| Description   | Jetson AGX Xavier with heatsink and carrier board      |
|:--------------|:-----------------------------------|
| Category      | [ECAD-MCAD]                        |
| Alias Creo    | NVIDIA_JETSON_AGX_XAVIER_HS_CB    |
| IIT-Code      | 14615, 14616, 14617  |
| Applicant     | Michele Gesino, @Mick3Lozzo    |
| Supervisor    | Ugo Pattacini, @pattacini     |
| Maintainer    | M

[2021-09-10 16:05] Mick3Lozzo commented on #59
Ask @emilianob80 to weigh the only assembled group we have in IIT, at the moment mounted on an R1 robot.

![](https://user-images.githubusercontent.com/15085666/132883609-07abe0bf-41b5-441c-8faf-742ce5f4d2a7.png)

[2021-09-10 16:14] Mick3Lozzo commented on #59
Opened [ticket](https://github.com/icub-tech-iit/tickets/issues/1634).

[2021-09-13 13:13] marcellosavoldi commented on #54
can I propose to add a second row in the written on the model with "replaced by..."..
what do you think?

[2021-09-13 13:31] Elio75 commented on #54
Yes, why not, even if you search for it on Wingst you will be told by who it is replaced

@marcellosavoldi

[2021-09-13 13:41] Mick3Lozzo commented on #54
The writings in the model are useless, they are not seen by WinGST and they don't automatically upgrade the BOMs. They are visible only at a CAD level, but they are meant to be used by someone who does NOT use the CAD.

My opinion.

cc @Fabrizio69

[2021-09-13 13:43] marcellosavoldi commented on #56
in the past we looking for new componets in this [folder](https://istitutoitalianotecnologia.sharepoint.com/:f:/r/sites/icub-facility/Documenti%20condivisi/Silo%20Mechanics/sandbox/proe___librerie_compass?csf=1&web=1&e=2b1AMH) ...
Don't ask me where these documents come from because I don't remember

[2021-09-13 14:22] marcellosavoldi commented on #54
I think that the writing on the model very convenient to understand that an obsolete object exists in that assembly.
the additional row with "replaced by ..." was just an idea to find the replacement first, but I agree that the information can be found on Wingst.

[2021-09-13 14:28] marcellosavoldi commented on #49
I am not able to understand that it was saved with the right license, so i trust it.
otherwise ok.
@Mick3Lozzo , you can close.

[2021-09-14 16:19] divyashah commented on #56
I am using the `SW` type of the Seeger Ring as mentioned in the description. On the Seeger Rings website, the standard mentioned for this type of rings is **DIN 9927**.

However, this type of elastic ring is not mentioned among the brochures that are linked in the technical standard specification page on the wiki referenced above.

Also, from the files present in this sharepoint folder, the ring s

[2021-09-16 09:14] divyashah commented on #55
In addition to these two instances mentioned above in the description, I decided to add also a third instance that could be useful later in the designs:

- [SKF_W-61707](https://www.skf.com/group/products/rolling-bearings/ball-bearings/deep-groove-ball-bearings/productid-W%2061707) : **35x44x5**

Based on the specifications mentioned in the links, I modified the family table of the part as shown b

[2021-09-16 11:19] divyashah commented on #55
I noticed that we family table has a column to add mass (`PESO`) given in the datasheet. However the mass of the component computed from the Creo `Mass Properties` differs from this family table value.

As an example, for Bearing **W 61705** the datasheet mass is **~6e-3 kg** whereas the Creo mass turns out to be **~6.77e-3 kg**.  The difference, in this case, is negligible.
| ![image](https://use

[2021-09-17 10:25] marcellosavoldi commented on #55
`Should we can consider assigning the generic part a particular material/density maybe stainless steel??`

For me this is a good solution!
most bearings we are using,  are in stainless steel.
The balls of the bearing are represented as a circular tube... I think  can negligible the different of weight..
... personal opinion ....

[2021-09-21 13:57] fiorisi commented on #59
@Mick3Lozzo please document here the picture of the weight scale with the component.

[2021-09-21 14:07] emilianob80 commented on #59
@Mick3Lozzo @fiorisi  sorry it is my fault that due to lack of time I was unable to satisfy the open ticket. Tomorrow morning I will carry out the weight if the robot is available

[2021-09-21 14:42] Fabrizio69 commented on #59
Sorry @Mick3Lozzo , if you need of the PROTO-Team support, mention me too. Thanks

cc: @emilianob80 @fiorisi

[2021-09-21 14:50] pattacini commented on #59
Yes, it's important to keep the SM in the loop.

[2021-09-21 14:56] marcellosavoldi opened #61 "[RLS] - [MRA7D049AB025E00] - [Magnetic wheel for AksIM encoder]"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [website](https://www.rls.si/eng/aksim-rotary-absolute-encoder-module )            |
| Project              | ergoCub     |
| Alias Creo           | rls_MRA7D049AB025E00                        |
| IIT-Code             | 11259

[2021-09-21 15:09] marcellosavoldi commented on #61
dimensions:
![image](https://user-images.githubusercontent.com/53296021/134197116-44471dc3-f0ee-49e7-9a61-fd371060dac9.png)
![image](https://user-images.githubusercontent.com/53296021/134197192-65c716f2-65c0-48a4-93d8-26d7177496fd.png)

[2021-09-21 15:25] divyashah commented on #61
For the ergoCub joint we previously discussed about the encoders to use in icub-tech-iit/ergocub-design-joint#7.

As mentioned by @MrAndrea, it was decided to use AksIM-2 with the following two magnetic rings:

The corresponding purchase request is icub-tech-iit/purchases#1307.

@marcellosavoldi  if you are creating a family table of these magnetic rings, then I think it would be useful to add als

[2021-09-21 16:54] #49 closed

[2021-09-22 04:18] emilianob80 commented on #59
@Mick3Lozzo the robot is connected and completely switched on (PC and motors) so it is not possible for me to remove the cards and carry out the weighing

cc: @Fabrizio69 @pattacini @fiorisi

[2021-09-22 05:58] pattacini commented on #59
I went down to check the system and I just found the SN003 on and plugged into the power supply. There's no console around.
@randaz81, @datspace @lnobile, can we power it off using the switches as it is?

As it's written here, we'd need to temporarily unmount/mount the NVIDIA board to measure the actual weight.

[2021-09-22 07:28] DatSpace commented on #59
Yes certainly. Everything is saved and the robot is not running anything really. It was simply recommended to not be killed to increase the lifespan of the electronics.

[2021-09-22 07:30] lnobile commented on #59
Yeah no problem also for me! Will the robot be available tomorrow? (With the NVIDIA board mounted)

[2021-09-22 08:02] pattacini commented on #59
Thanks heaps guys 👍🏻
So, @emilianob80, we can proceed by switching off the robot as it is.
Please, just coordinate w/ @lnobile to address his request below and agree on when it's the right moment.

[2021-09-22 08:25] marcellosavoldi commented on #61
I proceed to add in the family table the following encoders:
![image](https://user-images.githubusercontent.com/53296021/134306271-7f2a8b33-2cdc-44be-85e1-d7b78b8d4d84.png)
![image](https://user-images.githubusercontent.com/53296021/134306346-9128abf5-25ea-48b4-b429-b509b494bbd2.png)
![image](https://user-images.githubusercontent.com/53296021/134308961-7582559a-edb4-4cb1-8641-dafda83d9da2.png)

[2021-09-22 08:44] emilianob80 commented on #59
@lnobile @pattacini the robot is available again. Thanks

cc: @Fabrizio69 @DatSpace @randaz81

[2021-09-22 08:48] pattacini commented on #59
Super 🚀

[2021-09-23 08:36] Mick3Lozzo commented on #59
![](https://user-images.githubusercontent.com/15085666/134477190-7598adcf-c737-4588-89c8-83e14f04bc80.png)

![](https://user-images.githubusercontent.com/15085666/134477254-31d1bf65-28e0-4719-b6e8-c5ad665811e7.png)

Updated density and corrected mass.

[2021-09-23 08:41] Mick3Lozzo commented on #59
Converted with EDU-COM license. I'll close the issue.

[2021-09-23 08:41] #59 closed

[2021-09-23 15:27] fiorisi commented on #54
the additional row with "replaced by ..." was just an idea to find the replacement first, but I agree that the information can be found on Wingst.

I would keep the `OBSOLETE` sketch, but not the "replaced by".

[2021-09-23 15:43] fiorisi commented on #55
@divyashah how is used the parameter `PESO`? Is there a relation?

[2021-09-23 19:25] marcellosavoldi commented on #55
... I would like, one day, to remove all Italian words and therefore most of the relations ...

[2021-09-24 09:16] divyashah commented on #55
No @fiorisi, I do not see any particular relation involving the parameter `PESO`.

![image](https://user-images.githubusercontent.com/16266334/134648691-10ee8975-4dc0-42c1-a5df-df677e634bfa.png)

[2021-09-27 10:15] divyashah commented on #55
With the previous commit, I added the instances of `W61705`, `W61706`, `W61707` within the family table of `CUSCI_DGBB1.PRT`.
I kept the mass properties like default for now.

We can then decide if we want to assign a particular material to  family table or not during the next @icub-tech-iit/silo-mech  meeting.

[2021-09-27 10:20] fiorisi commented on #55
Yes I would discuss it during the silo meeting.

[2021-09-29 08:36] Mick3Lozzo opened #63 "Editing [HFUC-5-50-2A-R-SP_A]-[updating mass]"
| Description   | Harmonic drive - Gearbox, size 5, gear ratio 50  |
|:--------------|:-----------------------------------|
| Category      | [ECAD-MCAD]                        |
| Alias Creo    | HFUC-5-50-2A-R-SP_A, HFUC-5-50-2A-R-SP_B, HFUC-5-50-2A-R-SP_C   |
| IIT-Code      | 2708.1       |
| Applicant     | Michele Gesino, @Mick3Lozzo         |
| Supervisor    | Ugo Pattacini, @pattacini    |

[2021-09-29 08:50] Mick3Lozzo commented on #63
![](https://user-images.githubusercontent.com/15085666/135235398-35f0bcd2-20d3-489d-ab1b-0048b9ae3d58.png)

Ok, the problem was the wave generator, its density had ten times the expected value.

[2021-09-29 08:52] Mick3Lozzo commented on #63
Done.

[2021-09-29 12:51] Mick3Lozzo opened #64 "[Slamtec] - [RPLIDAR_USB_ADAPTER] - [RPLidar USB Adapter Board for A2/A3]"
| Description          | Slamtec RPLidar USB Adapter Board for A2/A3  |
|:---------------------|:---------------------------------------|
| Datasheet component  |   [LM310_SLAMTEC_rplidarkit_usermanual_A3M1_v1.0_en.pdf](https://github.com/icub-tech-iit/cad-libraries/files/7276064/LM310_SLAMTEC_rplidarkit_usermanual_A3M1_v1.0_en.pdf) |
| Project              | R1, ergoCub    |
| Alias Creo

[2021-09-29 13:16] Mick3Lozzo commented on #64
![](https://user-images.githubusercontent.com/15085666/135275860-34cb6924-3850-4e7a-add0-eea5bc660938.png)

[2021-09-29 13:20] Mick3Lozzo commented on #64
![](https://user-images.githubusercontent.com/15085666/135276434-b8ca9b7b-2947-416e-9023-7899c899d4cd.png)

[2021-09-29 15:23] fiorisi commented on #64
@Mick3Lozzo the manufacturer doesn't have a code for this product?
Or `RPLIDAR-ADAPTER-A2-A3` is the manufacturer code?

If we don't know, could be worth to send an email to retrieve it.

[2021-09-29 15:34] Mick3Lozzo commented on #64
@fiorisi I haven't found anything more specific on the website, we can ask.

[2021-09-30 07:32] marcellosavoldi commented on #55
For me we can added the new variants to cad-libraries.
We need of the parts to continue the joint study...
After we can modify the parameters as we will go to decide.
what do you think @icub-tech-iit/silo-mech ?

[2021-09-30 07:56] divyashah commented on #55
Yes @marcellosavoldi. I already added the new variants to `CUSCI_DGBB1.PRT` which is the bearing type without any shields. About the mass properties/material we can modify later as we decide.

[2021-09-30 12:11] fiorisi commented on #55
We need of the parts to continue the joint study...
After we can modify the parameters as we will go to decide.
what do you think @icub-tech-iit/silo-mech ?

I agree. If the mass is correct, I think that we cna close the issue.
The material for family tables will be discussed during the next silo meeting.

[2021-09-30 12:43] Mick3Lozzo commented on #64
Found

![](https://user-images.githubusercontent.com/15085666/135457092-1dbc0afe-a3d4-422b-95ef-75b6b6b6e81a.png)

[2021-09-30 12:48] Mick3Lozzo commented on #64
![](https://user-images.githubusercontent.com/15085666/135457797-e6165713-0e45-4084-baf0-737aa1138a20.png)

.... well, technically we should rename ALL RPLidar items we are using in the assemblies.

[2021-09-30 13:15] Mick3Lozzo opened #65 "Editing [SLAMTEC_RPLIDAR-A2M4-R1]-[correcting mass]"
| Description   | Field                              |
|:--------------|:-----------------------------------|
| Category      | [ECAD-MCAD]                        |
| Alias Creo    | SLAMTEC_RPLIDAR-A2M4-R1                |
| IIT-Code      | 11404                  |
| Applicant     | Michele Gesino, @Mick3Lozzo             |
| Supervisor    | Marco Maggiali, @maggia80    |
| Maintainer    | Marcel

[2021-09-30 13:24] Mick3Lozzo commented on #65
![](https://user-images.githubusercontent.com/15085666/135463368-f4c8dcce-fd45-4e2c-b835-a2352bf84579.png)

Done.

[2021-09-30 13:38] Mick3Lozzo commented on #65
Note: 199 g is a value obtained by weighting a `15507 -SLAMTEC_RPLIDAR-A3M1` model, I expect that there is no significant difference, but we should verify.

[2021-09-30 14:38] Mick3Lozzo opened #66 "[Slamtec] - [RPLIDAR A3M1] - [Laser Scanner 25 m]"
| Description          | RPLidar A3M1 Laser Scanner     |
|:---------------------|:---------------------------------------|
| Datasheet component  | [rplidar-a2m4-r1.2d.en-us.PDF](https://github.com/icub-tech-iit/cad-libraries/files/7260265/rplidar-a2m4-r1.2d.en-us.PDF),  [rplidar-a2m4-r1.igs.zip](https://github.com/icub-tech-iit/cad-libraries/files/7260313/rplidar-a2m4-r1.igs.zip)|
| Project

[2021-09-30 15:05] fiorisi commented on #64
Great!

Why do you keep `RPLIDAR` ? Is not part off the product code. If we stick to the [guidelines](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#commercial-components-coding-standard) we shouldn't include it, right?

[2021-09-30 15:12] fiorisi commented on #66
@Mick3Lozzo can you check the alias? As in https://github.com/icub-tech-iit/cad-libraries/issues/64#issuecomment-931407338, please check if it is compliant with the guidelines. In particular, is `RPLIDAR` part of the producer code?

[2021-09-30 15:33] divyashah commented on #55
The mass I obtain from the default properties are slightly higher than the datasheet mass.

| Bearing | Datasheet mass | CREO mass |
| :----: | :----: | :----: |
| W61705 | 6e-3 kg | 6.77e-3 kg |
| W61706 | 7e-3 kg | 8.06e-3 kg |

I think this comes from the fact that the CREO feature for the family table has a tube (in the left part) to represent the spherical balls (as on the right part).
![imag

[2021-10-04 07:33] Mick3Lozzo commented on #64
With other members of this product family, we didn't use the reseller code at all but there is a reason: on the [official product page](https://www.slamtec.com/en/Lidar/A3) of Slamtec there doesn't seem to be mention of the USB adapter as a single product - or at least I haven't found it.
In every other component of the RPLIDAR family, we didn't use this reseller product code because we found a co

[2021-10-04 07:35] Mick3Lozzo commented on #66
@fiorisi it is a reseller code, my mistake to include it in the issue title.

[2021-10-04 07:42] marcellosavoldi commented on #55
@divyashah , we can use the body to define 2 different material ( for examble Ergal for the "tube" ), but I think we can discuss this in the next future meeting... Push for now.

[2021-10-04 07:48] marcellosavoldi commented on #64
I would propose to use the name of the company that sells the item.
As I seem to have understood that Samtec does not sell this item individually ...

[2021-10-04 07:52] marcellosavoldi commented on #63
If the part is ok, @Mick3Lozzo you can close and push the prt!

[2021-10-04 08:20] #63 closed

[2021-10-15 13:35] maurizbo opened #67 "[LITTLEFUSE] - [FUSEPPTC-2920-2A2-1A1] - [PPTC resettable fuse]"
| Description        | Field                                 | Notes |
|:-------------------|:--------------------------------------|:------|
| Datasheet          | [link or attachment ]               |       |
| Manufacturer info  | LITTLEFUSE - 2920L110/60MR |       |
| Alias Creo         |  \**          |       |
| MCAD Contact       | Lorenzo Protopapa, @Lawproto                |       |
| ECA

[2021-10-18 14:18] #67 closed, assigned to Lawproto

[2021-10-19 14:17] salvi-mattia opened #68 "AUVIDEA - X220 carrier - carrier for Jetson AGX Xavier"
| Description          | AUVIDEA X220 carrier for Jetson AGX Xavier                          |
|:---------------------|:---------------------------------------|
| Datasheet component  | https://auvidea.eu/product/70410/                  |
| Project              | ERGOCUB & MORE     |
| Alias Creo           | AUVIDEA_X220_CARRIER                        |
| IIT-Code             | [if available]

[2021-10-20 09:33] salvi-mattia opened #69 "NVIDIA - jetson agx xavier- [short description]"
| Description          |NVIDIA - jetson agx xavier                          |
|:---------------------|:---------------------------------------|
| Datasheet component  | https://developer.nvidia.com/embedded/jetson-agx-xavier-developer-kit            |
| Project              | ergocub et al    |
| Alias Creo           | NVIDIA_JETSON_AGX_XAVIER                        |
| IIT-Code             | 1461

[2021-10-20 13:22] salvi-mattia opened #70 "connecttech - Xavier Passive Heat Sink - NVIDIA Jetson AGX Xavier Passive Heat Sink"
| Description          |NVIDIA Jetson AGX Xavier Passive Heat Sink                             |
|:---------------------|:---------------------------------------|
| Datasheet component  | https://connecttech.com/product/nvidia-jetson-agx-xavier-passive-heat-sink/                |
| Project              | ergocub and more   |
| Alias Creo           | CONNECTTECH_AGX_PASSIVE_HS

[2021-10-22 08:48] salvi-mattia opened #71 "connecttech - Xavier Active Heat Sink - NVIDIA Jetson AGX Xavier Active Heat Sink"
| Description          | NVIDIA Jetson AGX Xavier Active Heat Sink|
|:---------------------|:---------------------------------------|
| Datasheet component  |https://connecttech.com/product/nvidia-jetson-agx-xavier-active-heat-sink/               |
| Project              | ergocub et al   |
| Alias Creo           | CONNECTTECH_AGX_ACTIVE_HS                       |
| IIT-Code             | 14616

[2021-11-02 16:29] fiorisi opened #74 "[BOSSARD] - [MANY] - [Torx screw]"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [link or attachment ]                  |
| Project              | [where will the component be used]     |
| Alias Creo           | [maker + code]                         |
| IIT-Code             | [if available]                         |
| Ap

[2021-11-03 14:03] marcellosavoldi commented on #74
Below the list of the types of screws with a hexalobe footprint that we are going to use:
### ISO14583
![image](https://user-images.githubusercontent.com/53296021/140074093-52a34645-3ba7-4cd7-a63a-f0f89823cd1a.png)
- Hexalobular (6 Lobe) socket pan head machine screws
- fully threaded ,
- stainless steel,
- type A4
### ISO14580
![image](https://user-images.githubusercontent.com/53296021/140074190-

[2021-11-04 16:05] fiorisi commented on #36
@divyashah we need to change the categories of the stator and rotor because Pamoco has 2 different codes.
Can you align with @MrAndrea for this?

[2021-11-05 08:33] MrAndrea commented on #36
Yesterday we aligned about the TQ motors, summarising: the motor is combined of two supplier codes, one for rotor and one for stator, and both must be MOT category. On Wingst they have the respectively codes as described in [this comment](https://github.com/icub-tech-iit/ergocub-design-joint/issues/9#issuecomment-961232514).

[2021-11-05 09:07] marcellosavoldi commented on #36
We need to discuss how to manage these CAD codes.
We have always used two different models (Stator and Rotor), one of these has the COSM category and the other has the MOTR category ...
Is this case handled differently?
We have never written anything on WIKI, but I think it is worth talking about in the silo meeting and writing a rule.
@fiorisi , @divyashah

[2021-11-05 11:06] marcellosavoldi commented on #36
![image](https://user-images.githubusercontent.com/53296021/140501259-82704649-bc03-4c3f-8f92-2e784c7f42f0.png)

[2021-11-05 13:44] fiorisi commented on #36
Is this case handled differently?
We have never written anything on WIKI, but I think it is worth talking about in the silo meeting and writing a rule.

Definitively, we have to discuss it at the next silo meeting and update the WIKI.
For the time being I would keep the `_ROTOR` and `_STATOR`, setting the category `MOTR` for both.
In WINGST we add the correct suppliers code for the 2 parts.

[2021-11-05 14:12] divyashah commented on #36
Thanks @MrAndrea for updating the codes on WINGST.

However, could you please cross check the suppliers codes ?? They don't seem to be correct according to me:
![image](https://user-images.githubusercontent.com/16266334/140523272-68a3dc7c-c370-4599-92c1-b50cdc01df93.png)

I think the supplier's codes should be as per the [comment in icub-tech-iit/ergocub-design-joint#3](https://github.com/icub-tec

[2021-11-05 15:42] MrAndrea commented on #36
Ciao @divyashah, I didn't find the supplier codes that you [mentioned](https://github.com/icub-tech-iit/ergocub-design-joint/issues/3#issuecomment-943258341) in any document. Before changing on Wingst, where did you get them?

[2021-11-05 16:27] divyashah commented on #36
@MrAndrea I found them in these drawing datasheets: [50x08](https://www.tq-group.com/filedownloads/files/products/robodrive/drawing/drawing_ilm50x08_rev.0102.pdf) and [50x14](https://www.tq-group.com/filedownloads/files/products/robodrive/drawing/drawing_ilm50x14_rev.0101.pdf). (Already added to the internal storage linked in this [comment](https://github.com/icub-tech-iit/ergocub-design-joint/iss

[2021-11-05 16:41] MrAndrea commented on #36
Ok @divyashah they seem to me the manufacturer codes and not the supplier codes, because in the [Pamoco offer](https://github.com/icub-tech-iit/purchases/issues/1042#issuecomment-793990178) there is nothing about them.
So if you agree, I will change both the manufacturer and supplier codes with the same code provided in [your table](https://github.com/icub-tech-iit/ergocub-design-joint/issues/3#is

[2021-11-05 17:03] #16 closed

[2021-11-05 17:04] divyashah commented on #36
Yes @MrAndrea you are right. They are the manufacturer codes, and not supplier codes. I got confused between the two.

Yes, then we can change both codes to the values in the table.

[2021-11-08 10:59] divyashah commented on #36
With the previous commit, I modified the rotor category to `MOTR`.
I also added the new `IIT_CODE` parameter that was recently added to the commercial start_part based on the WINGST codes.

Once the manufacturer's codes have been updated on WINGST, we can close this issue again.

cc @MrAndrea @fiorisi

[2021-11-08 14:57] MrAndrea commented on #36
Manufacturer's codes updated on Wingst.

![image](https://user-images.githubusercontent.com/20459541/140764545-db49d8ba-791b-4dbe-80f9-9a72585ea69f.png)

![image](https://user-images.githubusercontent.com/20459541/140764595-7d549138-a57e-4f20-a863-514096411385.png)

![image](https://user-images.githubusercontent.com/20459541/140764643-5ab5c321-b4e6-4c53-a3a1-e422b11d8ffb.png)

![image](https://use

[2021-11-08 17:58] Mick3Lozzo opened #75 "ADAFRUIT - 1752 - Stereo Audio Amplifier"
| Description | 20W Stereo Audio Amplifier - MAX9744 |
| --- | --- |
| Datasheet component |  [adafruit-20w-stereo-audio-amplifier-class-d-max9744.pdf](https://github.com/icub-tech-iit/cad-libraries/files/7499072/adafruit-20w-stereo-audio-amplifier-class-d-max9744.pdf), [MAX9744.pdf](https://github.com/icub-tech-iit/cad-libraries/files/7499082/MAX9744.pdf) |
| Project | ergoCub, R1 |
| Alias Creo

[2021-11-08 18:01] Mick3Lozzo commented on #75
![](https://user-images.githubusercontent.com/15085666/140793880-f216be47-ad39-474b-966c-bd9e5ee97021.png)

Weight (found on the web): 11 g.

@MrAndrea as I understood [here](https://github.com/icub-tech-iit/tickets/issues/243#issuecomment-812490314), this component has been ordered without adding it to WinGST database so it doesn't still have an IIT code, right?

[2021-11-09 10:33] Mick3Lozzo opened #77 "[Visaton] - [EX 30 S] - [speaker]"
| Description          | Speaker 10W, 8 Ohm, 25-70 C |
|:---------------------|:---------------------------------------|
| Datasheet component  [EX_30_S-2322537.pdf](https://github.com/icub-tech-iit/cad-libraries/files/7503976/EX_30_S-2322537.pdf)|
| Project              | ergoCub    |
| Alias Creo           | VISATON_EX-30-S-8     |
| IIT-Code             | XXXXX     |
| Applicant            | Mi

[2021-11-09 10:34] Mick3Lozzo commented on #77
![](https://user-images.githubusercontent.com/15085666/140908481-81bb4dca-6157-45ce-b6af-638014afe9d9.png)

Checked and corrected mass.

@MrAndrea still we don't have bought this item, so it doesn't have an IIT code, right?

[2021-11-09 12:08] MrAndrea commented on #75
@Mick3Lozzo I added just now on Wingst the Adafruit 1752 electronic board: iitcode **15585**.
If it is possible, I suggest to change the Creo alias from ADAFRUIT_MAX9744 to ADAFRUIT_1752.

[2021-11-09 16:11] marcellosavoldi commented on #77
@Mick3Lozzo , who buys this item ( mech or eltr team) ?
if it has to appear in Wingst's mechanical BOM, you have to put another parameter, because "eltr" is not read by Wingst ...

[2021-11-09 16:15] Mick3Lozzo commented on #77
@marcellosavoldi  saw another two Visaton speakers in our CAD repository, and they were both classified as  `ELTR`.

[2021-11-09 16:29] marcellosavoldi commented on #77
OK,
then we leave ELTR.
I just wanted to be sure that there was no need for this object to appear in the mechanical BOM.
In doing so, the electronics take care of it.

@Mick3Lozzo , @icub-tech-iit/silo-electr , @MrAndrea

[2021-11-10 09:33] MrAndrea commented on #77
Sorry but we can't continue with this speaker for ergoCub's head, look at [this comment](https://github.com/icub-tech-iit/ergocub-design-head/issues/50#issuecomment-964900858).

[2021-11-10 14:57] marcellosavoldi commented on #74
Following the table with all screws we will go to use....
I have to check the Wurth  availability..
[viti-torx-da-ordinare_rev_2.xlsx](https://github.com/icub-tech-iit/cad-libraries/files/7513616/viti-torx-da-ordinare_rev_2.xlsx)
.

[2021-11-11 07:40] fiorisi commented on #36
@MrAndrea @divyashah I think that we can close, right?

[2021-11-11 07:43] fiorisi commented on #77
@marcellosavoldi if the CAD model is correct probably we can keep it anyway in the library.
In this case feel free to close the issue.

[2021-11-11 07:48] fiorisi commented on #74
Great job @marcellosavoldi!
Once we are ready I think that this table should be placed in the wiki, let me know if you need help.
Plobably we can add a point in the [list](https://github.com/icub-tech-iit/cad-libraries/wiki#lists) section.

[2021-11-11 09:34] marcellosavoldi commented on #74
Definitely a good idea @fiorisi .
I'd like to add a section where we indicate the "favorite library items" for our projects, such as screws, nuts, inserts, glues etc ...

Most likely I would like help from the @icub-tech-iit/silo-mech  to normalize everything on Wingst .... it's a very long job!

I also heard from @Miche19 , and he's already setting up a warehouse space for the Torx screws (cc: @F

[2021-11-11 09:39] marcellosavoldi commented on #77
I agree with Luca,
@Mick3Lozzo ,If it is already done, we leave it in the bookstore anyway, are you agree?
Anyway, @MrAndrea , can you confirm that it is not something that has to come out in mechanical BOM?

[2021-11-11 09:44] marcellosavoldi commented on #36
Let's remember to discuss it at the next Silo Mech meeting ...
I think it is useful to reiterate that there are exceptions to entering parameters into the model.
cc: @fiorisi , @icub-tech-iit/silo-mech

[2021-11-11 09:48] MrAndrea commented on #77
Yes @marcellosavoldi, the speaker will be in the electronics BOM.

[2021-11-11 09:52] #36 closed

[2021-11-11 14:34] fiorisi commented on #77
@marcellosavoldi if the component is ready we can close the issue.

[2021-11-11 20:10] marcellosavoldi commented on #77
... I leave the honor to @Mick3Lozzo

[2021-11-15 16:16] marcellosavoldi opened #79 "Create the list of standard commercial parts"
preliminary sketch that will move to WIKI

[2021-11-15 16:34] marcellosavoldi commented on #79
## Hexagon socket cap head
![image](https://user-images.githubusercontent.com/53296021/141816642-f3c7711e-57db-4a54-a7e7-76d7adf1bfc0.png)
|   UNI  |   ISO  |  DIN  | file CAD        | Notes             |
|:------:|:------:|:------|:----------------|:------------------|
|  5931  |  4762  |  912  |  uni5931.prt    |                   |

Dimensions: M3, M4, M5, M6, M8, M10, M12
length : all standard

[2021-11-16 16:33] marcellosavoldi commented on #74
I am awaiting an answer from Wurth to understand the exact availability of all screws in the catalog.
I attach the updated file with the list of screws used.
In the "full-TORX-list" TAB you will find the list of all the screws that I would like to normalize.
[viti-torx-da-ordinare_rev_2.xlsx](https://github.com/icub-tech-iit/cad-libraries/files/7548155/viti-torx-da-ordinare_rev_2.xlsx)
In the mean

[2021-11-17 07:16] fiorisi commented on #74
Can we ask to DEDA? They might already have it.

[2021-11-17 20:30] marcellosavoldi commented on #74
but I've already done it ....

[2021-11-18 16:17] fiorisi commented on #74
We should define a common way to name fasteners.
I've drafted some guidelines, we have to approve during the next silo meeting: https://github.com/icub-tech-iit/cad-mechanics/wiki/Technical-specification-standards#icub-tech-standard---todo-approve-and-move-to-guidelines

[2021-11-18 17:25] marcellosavoldi commented on #79
## Hexagon nuts
![image](https://user-images.githubusercontent.com/53296021/142447851-6ce5fb72-7123-4833-9efb-267c9944bf5e.png)
|   UNI  |    ISO  |  DIN  | file CAD          | Notes             |
|:-------:|:-------:|:------|:----------------|:------------------|
|  5588  |  4032  |  934  |  iso4032.prt    |                   |

Dimensions: M1.6, M2, M2.5, M3, M4, M5, M6, M8, M10, M12, M16, M20
m

[2021-11-23 08:53] marcellosavoldi commented on #74
I modified the family tables.
I have separated the ISO14579 from the ISO14580: now there are 2 separate family-tables.
the generics created are the following:

![image](https://user-images.githubusercontent.com/53296021/142992429-0bcb60e5-baaa-4799-bb81-c96dd9d9f0f8.png)

You can see a summary of the screws in the following file:
[viti-torx_study.xlsx](https://github.com/icub-tech-iit/cad-librarie

[2021-11-23 14:59] fiorisi commented on #74
Great @marcellosavoldi.

Few questions (some of which will become a standard to be used from now on family tables and ISO components) just to align with the @icub-tech-iit/silo-mech:
- `M3x04_TORX-ISO14583-A4` do we want to keep the material in the file name?
- `M3x04_TORX-ISO14583-A4` why `A4` steel? Maybe `A2` was not available?
- the name of the family tables contains also the "torx" word?

Do

[2021-11-23 16:08] marcellosavoldi commented on #74
If we want to create a "M.... _TORX-ISO14583-A2" screw?

Yes... I replicated it in the variants and in the description ... Do you prefert replace "TORX" with "Hexalobular" ?

In a BOM it can be more easily noticed, even at a glance ....
I do not consider it indispensable, but useful!

I kept this question last because I note one thing.
I had chosen the screws with A4 material, because on the [Boss

[2021-11-24 10:14] fiorisi commented on #74
Thanks @marcellosavoldi.

Just few additional notes as discussed F2F:
- the alias of the instances should follow the [naming convention](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#commercial-components-coding-standard)
- we keep the material in the instances name, this help in differentiating the screws. We decided to add also the resistance class (`70` for A2

[2021-11-24 16:13] marcellosavoldi commented on #74
I am making the agreed changes.
If you agree I would replace the word "TORX" with "6 LOBE" in the generic and variant filename and instead about the description I would use the name "Hexalobular screw".

summing up
|                  variant                   |                                                      Description                                                              | note |
|:-

[2021-11-24 16:26] fiorisi commented on #74
On this I would like to have a feedback from the @icub-tech-iit/silo-mech.

[2021-11-24 17:09] Lawproto commented on #74
I personally prefer "TORX". I have no strong arguments against "6LOBE", though, I think I can live with it.

Whereas, I would rather **not** add the _fully threaded_ part in the description. Each fastener norm specifies a `b` length for each diameter. If `L < b`, the screw is fully threaded, otherwise `b` is the threaded length. There is no ambiguity to be evaded with further description.
![immagi

[2021-11-24 20:42] marcellosavoldi commented on #74
Actually I also prefer TORX, but Luca is right .... TORX is a registered name to define a hexalobe imprint ... it would be like calling Lorenzo the whole male gender of humanoid.
about the wording "full thread" I could agree with you, but I'm not sure that there are codes to differentiate the two types of screws (for example in screws with hexagon socket there are 2 different codes depending on wh

[2021-11-25 08:28] Lawproto commented on #74
I could imagine the point being this. We probably are going to call the imprint `T5`, `T8`, `T10`anyway, so we are discussing about "angel sex". Do whatever, I am fine with it.

This surprises me, can you make a proper example?

[2021-11-25 10:03] Lawproto commented on #74
**Update:** I explored with @Andrea-Mor the fully threaded/partially threaded thing. I have to admit that things are not quite the way I figured them to be.
I retire my objection on this topic.

[2021-11-26 06:47] marcellosavoldi commented on #74
in any case there is another problem ...
I needed to reduce the digits of the descriptions ... by at least 4/5 letters ...
I'm working on it...

[2021-11-26 17:20] marcellosavoldi commented on #74
I need to reduce the description...
I found following tabs about Common Fastener Related Abbreviations ... what do you think?
https://www.aftfasteners.com/common-fastener-related-abbreviations/
https://www.boltdepot.com/fastener-information/Abbreviations.aspx

If I reduce the written "fully threaded" with " F " or "f.t."  I can save sufficient space...

the longer description is:
`M2.5x10 , ISO145

[2021-12-06 09:18] fiorisi commented on #79
@marcellosavoldi I close this issue.
We already have the wiki sections to edit.

[2021-12-06 09:18] #79 closed

[2021-12-06 09:20] fiorisi commented on #75
@Mick3Lozzo @MrAndrea which is the board code? MAX9744 or ADAFRUIT_1752?

[2021-12-06 09:30] #64 closed

[2021-12-06 09:30] #66 closed

[2021-12-06 09:36] fiorisi commented on #71
@salvi-mattia can you check in the ordering information the product code?
![image](https://user-images.githubusercontent.com/8970230/144822161-31f0a1d9-ad75-4363-9e69-fe1a72cd692c.png)

Furthermore, the spaces in the code shall be replaced with `-`.
See https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#commercial-components-coding-standard
![image](https://user-image

[2021-12-06 09:37] fiorisi commented on #70
@salvi-mattia can you check the alias as per https://github.com/icub-tech-iit/cad-libraries/issues/71#issuecomment-986600107?

[2021-12-06 09:41] fiorisi commented on #69
@salvi-mattia great.
Please just align the code accordingly with [the guidelines](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#commercial-components-coding-standard). Then we can close.

[2021-12-06 09:51] fiorisi commented on #68
@salvi-mattia great.

I agree with @marcellosavoldi, the model is too heavy (`86 Mb`). Is there a simplified model? Or can we import only the biggest components, neglecting the resistances for example.

Please just align the code accordingly with [the guidelines](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#commercial-components-coding-standard). Then we can clo

[2021-12-06 10:01] fiorisi commented on #65
Gentle reminder for @Mick3Lozzo.

[2021-12-06 10:06] fiorisi commented on #52
@marcellosavoldi please edit directly the wiki without opening an issue.

[2021-12-06 10:06] #52 closed

[2021-12-06 10:24] fiorisi commented on #56
@divyashah can we close the issue following the approved [technical standards](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#technical-standards)?

[2021-12-06 10:56] maggia80 commented on #68
this board is not going to be used in ergoCub 1.0. We might consider it for future development.

[2021-12-06 10:58] fiorisi commented on #68
Ok, so either we remove the file from CAD libraries or we address [this comment](https://github.com/icub-tech-iit/cad-libraries/issues/68#issuecomment-986611162).

[2021-12-07 09:23] fiorisi commented on #75
MAX9744 is the chip soldered on the board.

Thanks @MrAndrea.

I think that we can close the issue @Mick3Lozzo.

[2021-12-07 09:23] #75 closed

[2021-12-07 12:41] #5 closed

[2021-12-07 12:43] fiorisi commented on #3
Done. Closing.

[2021-12-07 12:43] #3 closed

[2021-12-07 13:46] divyashah commented on #56
@fiorisi I still did not commit the file for the this. I have created the family table, but I wanted to check if I can somehow assign the calculated density, for every instance, as a relation.

I will try it and then commit the files accordingly, before closing this.

[2021-12-09 12:19] marcellosavoldi commented on #56
since we're talking about an object made of a material ... can we just assign a 308 stainless steel and let Creo do it all?

@fiorisi , @divyashah

[2021-12-09 15:31] Mick3Lozzo commented on #65
![](https://user-images.githubusercontent.com/15085666/145425313-43f808f5-9d6a-45fd-8bfc-eba8f1577b12.png)

![](https://user-images.githubusercontent.com/15085666/145425711-62811aa3-8597-4d29-bcd3-be7fb6f36dc4.png)

@fiorisi on the website, RPLIDAR is used only with some components, I would consider it as part of the component's name.

[2021-12-10 08:54] fiorisi commented on #56
If the datasheet of the component specifies that is made of that material, then yes.
Otherwise I would wait to have the new materials library and discuss weather introducing some generic materials to use for these cases.

[2021-12-10 13:31] fiorisi commented on #65
In the [datasheet](https://bucket-download.slamtec.com/bd39cf1da6f2c64fdb178440106561dc9fc0aa6d/LD310_SLAMTEC_rplidar_datasheet_A3M1_v1.9_en.pdf) of this component there is written `A3M1`. I think that `RPLIDAR` is the series. If you already used the part in many assemblies then we we can avoid the renaming.

![image](https://user-images.githubusercontent.com/8970230/145575976-ae48c628-e9e7-4cd4-9

[2021-12-10 16:50] marcellosavoldi commented on #74
final decision on the description:
M3x10 , ISO14583, 6LOBE socket pan head machine screw, fully threaded, A2-70
M3x10 , ISO14580, 6LOBE socket low head cap screw, fully threaded, A2-70
M8x40 , ISO14579, 6LOBE socket head cap screw, fully threaded, A2-70
M10x30 , ISO14581, 6LOBE socket countersunk flat head screw, f. threaded, A2-70

final decision on the generic
6LOBE-ISOxxxx.prt

final decision o

[2021-12-10 17:02] marcellosavoldi commented on #74
I added the right family table in cad-libraries:

![image](https://user-images.githubusercontent.com/53296021/145611968-ddf4a777-35bf-4001-956a-49b91bf9b72f.png)

@icub-tech-iit/silo-mech , can you check it?

You can find the file with all screws in the following document:
https://istitutoitalianotecnologia.sharepoint.com/:x:/r/sites/icub-facility/_layouts/15/Doc.aspx?sourcedoc=%7B44369799-52C3-43

[2021-12-10 17:08] marcellosavoldi commented on #74
What is the fastest way to insert the screws in the table below to WIngst:
https://istitutoitalianotecnologia.sharepoint.com/:x:/r/sites/icub-facility/_layouts/15/Doc.aspx?sourcedoc=%7B44369799-52C3-43AA-A7EC-65FA62EC54DA%7D&file=viti-torx_study_R1.xlsx&action=default&mobileredirect=true

@icub-tech-iit/silo-mech , @Fabrizio69

see only the first TAB "Full-Torx-List"...
I also split the screws amo

[2021-12-13 08:59] Mick3Lozzo commented on #65
@fiiorisi  already used It only in the ergoCub head, but there are other RPLIDAR models in the various R1 versions.

![](https://user-images.githubusercontent.com/15085666/145782077-b26170c7-20ea-4a45-ac8f-22e91d36a9ef.png)

.... and they have `RPLIDAR` in the filename.

[2021-12-13 15:11] marcellosavoldi opened #81 "[Harmonic-Drive] - [CPL-20A-160-2A and CSD-20-100-2A-GR] - [Harmonic Drive Component set]"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [[CSD data](https://harmonicdrive.de/it/prodotto/set-componibili/csd-2a) and [CPL data](https://harmonicdrive.de/it/prodotto/set-componibili/cpl-2a) ]                  |
| Project              | [Ergocub joint]     |
| Alias Creo           | [

[2021-12-14 10:14] marcellosavoldi commented on #81
CPL-20A-160-2A series done!

Mass assigned :
full mass gear = 0.14Kg
full volume = 19456.5 mm^3
circular = 8359.3 mm^3 , 0.06015Kg
Wave = 7384.7 mm^3 , 0.05314Kg
Flex = 3712.5, 0.02671Kg

license comm = ok

IIT_CODE = 15804

[2021-12-14 10:50] marcellosavoldi commented on #81
CSD-20-100-2A-GR series done!

Mass assigned :
full mass gear = 0.13Kg
full Volume = 19069.1 mm^3
circular = 9040.1 mm^3 , 0.06163Kg
Wave = 8263.1 mm^3 , 0.05633Kg
Flex = 1765.9 mm^3, 0.01204Kg

license comm = ok

IIT_CODE = 15805

[2021-12-14 14:04] fiorisi commented on #74
Great @marcellosavoldi.

Please set the material following the [guidelines](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#mass-properties-of-commercial-parts) and the correct [technical standard](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#technical-standards).

![image](https://user-images.githubusercontent.com/8970230/146013

[2021-12-14 14:11] fiorisi commented on #65
This is work done before the new guidelines and we do not modify it.

[2021-12-14 16:31] fiorisi commented on #81
Great @marcellosavoldi. Just one point that I think we can discuss at the next silo meeting.
When a 3D model is available from the manufacturer, I would use it and not design the part.

[2021-12-15 09:16] Elio75 opened #82 "[Kontron] - [ COMe-mAL10 E2 E3950 8E] - [COM Express mini type10 board]"
| Description          | COM-Express Type10, Kontron COMe-mAL10 E2 E3950 8E                             |
|:---------------------|:---------------------------------------|
| Datasheet component  | [COMe-mAL10(E2)](https://www.kontron.com/en/products/come-mal10-e2-come-m4al10-e2-/p145439)                |
| Project              | ergoCub     |
| Alias Creo           | KONTRON_COME-MAL10_E2

[2021-12-15 11:07] Elio75 opened #83 "[Kontron] - [34009-0000-99-2] - [Heatspreader Aluminium with copper plate]"
| Description          | Heat Sinks HSP COMe-mAL10 E2 slim thread                               |
|:---------------------|:---------------------------------------|
| Datasheet component  | [link or attachment ]                  |
| Project              | ergoCub     |
| Alias Creo           | KONTRON_34009-0000-99-2_R11                         |
| IIT-Code             | 15625

[2021-12-15 11:34] Elio75 opened #84 "[Kontron] - [34099-0000-99-0] - [Heatsink fan]"
| Description          | COMe mini Active Uni Cooler (w/o HSP)                               |
|:---------------------|:---------------------------------------|
| Datasheet component  | [link or attachment ]                  |
| Project              | ergoCub     |
| Alias Creo           | KONTRON_34099-0000-99-0_R2_1                    |
| IIT-Code             | 15626                        |
| A

[2021-12-15 11:46] Elio75 opened #85 "[manufacturer] - [part number] - [short description]"
| Description          | Carrier Board for COM-Express Type10, Connecttech CCG020                              |
|:---------------------|:---------------------------------------|
| Datasheet component  | [link or attachment ]                  |
| Project              |ergoCub     |
| Alias Creo           | CONNECTTECH_CCG020                      |
| IIT-Code             | 15301

[2021-12-15 13:00] fiorisi commented on #82
Great @Elio75.
If you commit the file we can check it.

[2021-12-15 13:03] fiorisi commented on #69
Please just align the code accordingly with the guidelines. Then we can close.

Gentle reminder for @salvi-mattia.

[2021-12-15 13:03] fiorisi commented on #70
Gentle reminder for @salvi-mattia.

[2021-12-15 13:03] fiorisi commented on #71
Gentle reminder for @salvi-mattia.

[2021-12-15 13:05] fiorisi commented on #68
Gentle reminder for @salvi-mattia.

[2021-12-15 13:07] fiorisi commented on #18
@maurizbo this component has been added to the library?

[2021-12-15 13:07] fiorisi commented on #19
@maurizbo this component has been added to the library?

[2021-12-15 13:07] fiorisi commented on #20
@maurizbo this component has been added to the library?

[2021-12-15 13:07] fiorisi commented on #21
@maurizbo this component has been added to the library?

[2021-12-15 13:08] fiorisi commented on #24
@maurizbo this component has been added to the library?

[2021-12-15 13:08] fiorisi commented on #27
@marcellosavoldi can we close this issue?

[2021-12-15 13:08] fiorisi commented on #28
@maurizbo this component has been added to the library?

[2021-12-15 13:08] fiorisi commented on #31
@maurizbo this component has been added to the library?

[2021-12-15 13:11] fiorisi commented on #54
@Elio75 if you have to make some components obsolete, remember to open a dedicated issue using the template issue:
![image](https://user-images.githubusercontent.com/8970230/146192536-46f53a37-fa4e-4326-ae08-23c00c3a9ac8.png)

[2021-12-15 13:13] fiorisi commented on #17
@maurizbo this component has been added to the library?

[2021-12-15 13:15] fiorisi commented on #6
Closing. If necessary, we will open a dedicated issue for remaining migration problems.

[2021-12-15 13:20] Elio75 commented on #82
Done

@fiorisi

[2021-12-15 13:28] Fabrizio69 commented on #8
Hi @Mick3Lozzo , Mitor is a used supplier (see the orders in the past), so nobody can delete this supplier.

cc: @fiorisi

[2021-12-15 13:30] Fabrizio69 commented on #8
Hi @Mick3Lozzo , Mitor is a used supplier (see the orders in the past), so nobody can delete this supplier.

cc: @fiorisi

[2021-12-15 13:40] #8 closed

[2021-12-16 08:37] fiorisi commented on #83
@Elio75 can you also add the part parameters? I think that we can add a checkpoint also for this.

![image](https://user-images.githubusercontent.com/8970230/146336690-2cd539ee-ce77-45f0-a7a4-fb63a35a9b44.png)

[2021-12-16 08:44] fiorisi commented on #84
@Elio75 can you also add the part parameters?

![image](https://user-images.githubusercontent.com/8970230/146337808-eedc8974-73aa-4f4d-9f7f-c0ea10b7ce7b.png)

[2021-12-16 08:47] fiorisi commented on #82
@Elio75 can you also add the parameters?
![image](https://user-images.githubusercontent.com/8970230/146338245-83c4066e-de4b-4cad-869f-6f5371ebb327.png)

[2021-12-16 08:58] fiorisi commented on #85
@Elio75 can you add the missing parameters (IIT code if available)?
![image](https://user-images.githubusercontent.com/8970230/146339938-fca77992-7e6a-4642-af34-ed00c2cb6cbc.png)

The file is too heavy, there are many details that we don't need. Is there a lightweight version?
![image](https://user-images.githubusercontent.com/8970230/146340154-ccdc035b-632e-4e6a-81de-72bf7e0efe0a.png)

[2021-12-16 13:53] Mick3Lozzo commented on #65
@fiorisi errata corrige: this is an **OLD** component too, and is present in R1 assemblies, added before the new guidelines.

The new RPLIDAR used in ergoCub head is the `SLAMTEC_RPLIDAR_A3M1`, which I could rename in `SLAMTEC_A3M1`.

[2021-12-16 15:14] marcellosavoldi commented on #74
I'd like to define the material used for the A2-70 types of fasteners instead of setting the densities by hand.
According to the following tables you can see the difference between the various ones types of screws: [^1]

![image](https://user-images.githubusercontent.com/53296021/146389368-99c03a26-01e6-40a4-9eff-30c994ce1e01.png)

Based on the class of the screw we can define the following materi

[2021-12-16 17:04] fiorisi commented on #74
Nice work @marcellosavoldi. I try to recap the main points, then I will copy this section in our [Technical-specification-standards](https://github.com/icub-tech-iit/cad-mechanics/wiki/Technical-specification-standards).

The mechanical properties of corrosion-resistant stainless steel fasteners are defined in the [ISO 3506](https://www.iso.org/standard/70045.html).

More in detail, the naming con

[2021-12-16 17:23] fiorisi commented on #74
To conclude, I think that the best option is to create a material that specifies the class.
As an example we can name it: `ISO3506_A2-70`. If you agree I modify the guidelines

It is important to add the correct properties (add through pull request).

[2021-12-17 09:37] marcellosavoldi commented on #74
I checked the original materials that PTC offers within Creo.
I noticed that there are generic, but well-compiled materials
I could make a copy of this:
![image](https://user-images.githubusercontent.com/53296021/146523013-1d2abb55-73dc-4199-9e79-c78ff816ba7a.png)

@fiorisi

[2021-12-17 10:00] marcellosavoldi commented on #27
yes... the screw has been added
![image](https://user-images.githubusercontent.com/53296021/146526655-28c8880e-28da-414a-beec-5f94c2c725a0.png)

[2021-12-17 10:00] #27 closed

[2021-12-17 10:04] marcellosavoldi commented on #21
@fiorisi , I suppose no,
I noted a symbol that we cant use in Creo :
MAX6741XKTGD3+T
I'm speaking about the plus (+).... we need to change the ALias name.

@maurizbo , where we are going to use this comp?

[2021-12-17 10:06] marcellosavoldi commented on #18
I can see it in the libraries...
![image](https://user-images.githubusercontent.com/53296021/146527467-d8341555-a129-421b-ae58-1d249d98d1f4.png)

we can close

[2021-12-17 10:06] #18 closed

[2021-12-17 10:26] marcellosavoldi commented on #81
done!
if there are no other requests I would say that it can be closed

[2021-12-17 10:53] maurizbo commented on #21
The code MAX6741XKTGD3+T has been used of the UZCB, for the AMC rev  a and will be used in the AMC reb B

[2021-12-17 11:47] Lawproto commented on #74
If it possible, I would put the generic material into a subfolder of our material database to not have them mixed up with the specific ones.
On a side note, I found that our library lacks copper, I ask you to add that too in case you proceed, @marcellosavoldi

[2021-12-17 15:18] fiorisi commented on #81
Ok.

[2021-12-17 15:18] #81 closed

[2021-12-17 17:03] Elio75 commented on #85
Done

[2021-12-17 17:04] Elio75 commented on #82
Done

[2021-12-20 10:58] Elio75 commented on #82
`Where did you take the mass of the board?`

![image](https://user-images.githubusercontent.com/53298662/146756566-6835c343-f2a7-4bd8-92fa-dac588500dd2.png)

dall`analisi di creo ho preso il volume e diviso per massa per calcolare la densità

@fiorisi

[2021-12-20 11:02] Elio75 commented on #85
`The file is too heavy, there are many details that we don't need. Is there a lightweight version?`

ho fatto uno Shrinkwrap

[2021-12-20 11:13] Elio75 commented on #83
DONE

@fiorisi

[2021-12-21 08:53] marcellosavoldi commented on #85
I would like to propose making a shrinkwrap for the complete board as surfaces and to solidify the PCB only.
ould this decrease the weights?
So I wish the board had the MATE_CONN as described about the individual components [here](https://github.com/icub-tech-iit/mechatronics/wiki/How-to-create-a-library-component-in-Creo-Parametric#mandatory-coordinate-system-for-plug-components), at least for th

[2021-12-21 09:12] #65 closed

[2021-12-21 09:19] fiorisi commented on #82
Great @Elio75.
Please always add the picture if the mass is not reported in the datasheet.

[2021-12-21 09:19] #82 closed

[2021-12-21 09:20] #83 closed

[2021-12-21 09:47] marcellosavoldi commented on #74
I'm honestly not a fan of subfolders, but I can live with it

feedback from @fiorisi ?

[2021-12-21 09:56] marcellosavoldi commented on #21
we absolutely have to change the Alias...

[2021-12-21 10:06] fiorisi commented on #74
I agree but the parameters shall be updated with the ones for the steel grade that we selected.
![image](https://user-images.githubusercontent.com/8970230/146911320-4ad93e6d-b7cd-475e-ac39-e2a7fa320e9c.png)

For the time being I would also keep all the material files in the same directory.

[2021-12-21 10:13] maurizbo commented on #21
Hi @marcellosavoldi I changed the alias from MAX6741XKTGD3+T to MAX6741XKTGD3PT
same I did for MAX17542GATB+T

[2021-12-23 08:22] fiorisi commented on #85
ould this decrease the weights?
So I wish the board had the MATE_CONN as described about the individual components here, at least for the components used ...
What do you think?

Can you do it for this board and attach the file here so we have a look at the final result?

[2021-12-29 14:28] marcellosavoldi commented on #85
[pcb_sw0001.prt.zip](https://github.com/icub-tech-iit/cad-libraries/files/7789324/pcb_sw0001.prt.zip)

@fiorisi , @Elio75

[2022-01-03 11:24] fiorisi commented on #85
Thanks @marcellosavoldi.
The size of the file is more or less the same though.

I did a test by manually removing the small features, but still the size is 11 Mb
[test_delete_small_features.prt.1.zip](https://github.com/icub-tech-iit/cad-libraries/files/7801619/test_delete_small_features.prt.1.zip)

If we don't find a simple way I would keep the source file if the file is no greater than 20 Mb.

W

[2022-01-03 15:17] marcellosavoldi commented on #85
could we try to reduce the number of surfaces (in the connectors for example) before doing the shrinkwrap?

[2022-01-04 09:07] Lawproto commented on #74
I report a somewhat abnormal behaviour concerning at least the library components `ISO 14580` and `ISO 14583`, but I suspect this may affect other new torx-related parts as well.
When I do any modification in an assembly which contains the overmentioned parts and save, I get a new Creo version of the part as well, **even though its model was not touched at all**.

![immagine](https://user-images.g

[2022-01-07 20:16] marcellosavoldi commented on #74
I will check the models created. However, it is quite common for Creo to save parts that have not been modified.
We never understood why, but it happens often.
![image](https://user-images.githubusercontent.com/53296021/148601801-3844365a-7045-4ed3-a483-cef36d6b8803.png)

[2022-01-10 09:19] marcellosavoldi commented on #79
I need this issue to download the images and copy the link on the wiki.... it's the faster way!

[2022-01-10 09:22] marcellosavoldi commented on #79
![image](https://user-images.githubusercontent.com/53296021/148742513-981ffe30-9476-489d-84df-dee40d610b75.png)
![image](https://user-images.githubusercontent.com/53296021/148742704-0c10fb5a-d1c7-4822-8e43-b4d58e59cac5.png)
![image](https://user-images.githubusercontent.com/53296021/148742792-cc07b8ea-7e9d-4c3d-a3e4-ada2baebcecc.png)
![image](https://user-images.githubusercontent.com/53296021/1487

[2022-01-10 09:41] marcellosavoldi commented on #79
![image](https://user-images.githubusercontent.com/53296021/148745140-1da6141f-a915-4abd-9a9a-8cc477ca8ac4.png)
![image](https://user-images.githubusercontent.com/53296021/148745155-eae12680-ad79-445c-bee4-3eb035fda8ed.png)
![image](https://user-images.githubusercontent.com/53296021/148745183-3e99c5e9-3315-466d-b4b3-de24e212946c.png)
![image](https://user-images.githubusercontent.com/53296021/1487

[2022-01-10 10:13] marcellosavoldi commented on #74
[I'm waiting a pull request](https://github.com/icub-tech-iit/cad-libraries/pull/86)

[2022-01-10 10:14] MrAndrea commented on #74
@fiorisi do you have some feedback concerning the PR [mentioned above](https://github.com/icub-tech-iit/cad-libraries/issues/74#issuecomment-1008719579)?

[2022-01-10 10:14] Elio75 opened #87 "Replace HD components CSD-17-100-2A (_CS / _WG / _FS) with CSD-17-100-2A-R (_A / _B / _C) on ergoCub"
| Description   | Field                              |
|:--------------|:-----------------------------------|
| Category      | [MCAD]                        |
| Alias Creo    | [CSD-17-100-2A-R_ (A/B/C]                   |
| IIT-Code      | [15482]                     |
| Applicant     | Elio Massa, @Elio75            |
| Supervisor    | Luca Fiorio, @fiorisi            |
| Maintainer    | Marcel

[2022-01-10 10:36] Elio75 commented on #87
Each HD consists of 3 parts

Old version
| Alias | Cod. WGST |
|:---:|:---:|
| CSD-17-100-2A_CS| 7062 |
| CSD-17-100-2A_WG|
 |CSD-17-100-2A_FS|

New version
| Alias | Cod. WGST |
|:---:|:---:|
|CSD-17-100-2A-R|  15482|

Composed of

| Alias | Cod. WGST |
|:---:|:---:|
|CSD-17-100-2A-R_A|15483|
|CSD-17-100-2A-R_B||
|CSD-17-100-2A-R_C||

[2022-01-10 11:21] Elio75 commented on #87
List of assemblies where the HD components to be replaced are located

**ECUB_004_A_001_UPPERBODY**
ECUB_004_A_002 (Right arm )
CSD-17-100-2A  (_CS / _WG / _FS)
| Assembly | Alias | Component | Quantity |
|:---:|:---:|:---|:---:|
| ECUB_004_G_020| CSD-17-100-2A_WG |  WG | 1|
| ECUB_004_G_021| CSD-17-100-2A_FS |  FS | 1|
| ECUB_004_G_021| CSD-17-100-2A_CS |  CS| 1|
| ECUB_004_G_034| CSD-17-100-2A_C

[2022-01-10 11:26] Elio75 commented on #87
List of assemblies where the HD components to be replaced are located

**ECUB_003_A_001_LOWERBODY**
ICUB3_018_G_018 (Left foot)
CSD-17-100-2A (_CS / _WG / _FS)

[2022-01-10 11:40] Elio75 commented on #87
You could do as in issue # 54, that the components to be replaced are made a sketch with the writing Obsolete, in order to be displayed and then replaced.

@icub-tech-iit/silo-mech

[2022-01-10 15:10] Fabrizio69 commented on #74
@marcellosavoldi the fastest way to insert screws in WingGST is to use mechanical CAD to generate a BOM to import, in order to create the new WinGST codes. After creating these new codes, the manufacturer and supplier information must be entered manually.

[2022-01-10 15:46] maurizbo commented on #31
Added to the library, I close the issue

[2022-01-10 15:46] #31 closed

[2022-01-10 15:47] maurizbo commented on #28
Added to the library, I close the issue

[2022-01-10 15:47] #28 closed

[2022-01-10 15:49] maurizbo commented on #20
Added to the library, I close the issue

[2022-01-10 15:49] #20 closed

[2022-01-10 15:50] maurizbo commented on #19
Added to the library, I close the issue

[2022-01-10 15:50] #19 closed

[2022-01-11 14:27] maurizbo commented on #24
Done right now, close

[2022-01-11 14:27] #24 closed

[2022-01-11 14:28] maurizbo commented on #21
Done right now, close

[2022-01-11 14:28] #21 closed

[2022-01-12 09:25] Lawproto commented on #74
So, @marcellosavoldi, am I free to start my share of WinGST insertions for these screws.

[2022-01-12 09:29] marcellosavoldi commented on #74
@Lawproto , Follow the informations on this new issue:
https://github.com/icub-tech-iit/cad-mechanics/issues/185

[2022-01-13 10:23] Lawproto commented on #74
@marcellosavoldi I noticed that some screw families have a conical head. Here is `ISO 14580` as an example.

![immagine](https://user-images.githubusercontent.com/84333301/149311443-10a85cc9-08fb-458e-85d1-64fa324d0b00.png)

While I see the aestethic touch the conical head wants to convey, it makes it quite difficult to measure the diameter size while working in Creo.

I am suggesting we transform

[2022-01-13 14:13] marcellosavoldi commented on #74
... Personally I prefer that the screws reflect reality as much as possible.

![image](https://user-images.githubusercontent.com/53296021/149345428-b144ba6b-9bf0-4198-9c02-6fae21b10fb7.png)

[2022-01-13 14:20] Lawproto commented on #74
I like your picture @marcellosavoldi.

![immagine](https://user-images.githubusercontent.com/84333301/149346997-c5049701-cdc8-47b0-a1d1-c5b0e9050096.png)

Can we make is so that this `d_k`, which is a useful dimension, is easy to measure from the 3D model?

[2022-01-13 14:47] fiorisi commented on #74
@marcellosavoldi where did you take this documentation?

Just as a reference I've added the ISO standard in the [dedicated section](https://github.com/icub-tech-iit/cad-mechanics/wiki/Technical-specification-standards#hexalobular-screw---torx) (feel free to add also the others).
![image](https://user-images.githubusercontent.com/8970230/149351665-34361143-d047-4434-a20c-0fde54189cc2.png)

Section

[2022-01-13 17:38] marcellosavoldi commented on #74
you can find the dimensions in the wiki:
https://github.com/icub-tech-iit/cad-libraries/wiki/Hexalobular-screws-dimensions

[2022-01-14 15:02] Lawproto opened #88 "SIT - CMS_117_3M_6 - Mustang speed belt SPCMS , 3M H=6mm Lp=117"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | -                 |
| Project              | ergoCub lower arm    |
| Alias Creo           | CMS_117_3M_6                         |
| IIT-Code             | 15559                     |
| Applicant            | Lorenzo Protopapa, @Lawproto

[2022-01-14 17:17] maurizbo commented on #17
Done, the task can be closed

[2022-01-14 17:17] #17 closed

[2022-01-17 11:14] marcellosavoldi commented on #88
How do you plan to proceed to make this belt?
In the past we have created a part with only the profile represented with a SKETCH.
then modeled the belt with the shape you needed and entered the wording "COSM" in the "TYPE" parameter
Then the profile and cosmetic model were inserted into an assembly, which was assembled on the pulleys.

[2022-01-17 11:44] Lawproto commented on #88
@marcellosavoldi my intuition inspires me to go for two different parts, to be kept together as a Creo group inside the assembly for convenience.
- one is the `cad-libraries` part, with all the useful parameters filled in and a generic, non-flexed shape. This is what appears in the assembly BOM.
- one is a `COSM` part with the shape needed for the assembly to be consistent. No parameters, no appea

[2022-01-17 13:39] marcellosavoldi commented on #88
the official part in CAD-LIBRARIES is modelled using a "cosmetic feature" (as surfaces or sketches) without setting a mass, but with the correct material.
For example a profile using a sketch or a 3D belt but created by surfaces features with mass=0 with type =TRAS
I would prefer the sketch because to hide a 3D object on the assembly I don't like...
... and in theory, by reading the wiki, it is fo

[2022-01-17 13:45] Lawproto commented on #88
@marcellosavoldi I will keep your considerations into account. Thank you!

[2022-01-21 16:26] marcellosavoldi opened #89 "ECAD - [AEDR-9820] - [IIT-CODE] - [Reflective Incremental Encoders]"
| Description        | Field                                 | Notes |
|:-------------------|:--------------------------------------|:------|
| Datasheet          | see [HERE](https://docs.broadcom.com/doc/AEDR-9830-3-Channels-Reflective-Incremental-Encoders-Output-318-LPI)              |       |
| Manufacturer info  | [Broadcom + AEDR-9830] * |       |
| Alias Creo         | [AEDR-9830] \**

[2022-01-26 10:45] marcellosavoldi commented on #74
I created a small cylindrical area on the base of the screw to facilitate the measurement.

![image](https://user-images.githubusercontent.com/53296021/151149398-cfdb23ad-578d-40d8-878c-3ff35458d67b.png)

I think that now all guys are happy and we can close the issue again...

[2022-01-26 10:45] #74 closed

[2022-01-28 10:05] fiorisi commented on #85
@elio could you try to reduce the size of the file as suggested? Then please upload the file here.

[2022-02-10 15:06] Andrea-Mor opened #90 "[Sauter] - [FH500] - [500 N dynamometer]"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [link or attachment ]                  |
| Project              | -    |
| Alias Creo           | sauter_fh500                         |
| IIT-Code             | [if available]                         |
| Applicant            | Andrea Mor @And

[2022-02-10 16:01] Andrea-Mor commented on #90
## Component mass

Sauter FH500 [datasheet](https://dok.kern-sohn.com/manuals/files/Italian/fh-ba-it-2020.pdf)

![image](https://user-images.githubusercontent.com/79802725/153446177-088388fc-d9ff-4ba3-8d95-94bf02cf5adc.png)

![IMG_0594](https://user-images.githubusercontent.com/79802725/153446317-55eb62f1-191d-47d6-ac64-ce665fc9a61c.jpg)
![IMG_0595](https://user-images.githubusercontent.com/798027

[2022-02-10 16:18] Andrea-Mor commented on #90
@fiorisi I ask your help for the last three points of the first comment

I think this is not my case.

do I have to convert it?

again, this is not our case?

[2022-02-16 16:26] Andrea-Mor commented on #90
Design of the Dynamometer changed. An error was fixed

[2022-02-23 09:06] Andrea-Mor commented on #90
@fiorisi do I have to do something else?

I've converted the prt file with EDU-COM liecnse and I've checked that there's no special case for this component.
As long as we don't have to create a IIT code in Wingst, it's all done!

[2022-02-23 13:36] fiorisi commented on #90
Thanks @Andrea-Mor. I think that we can close the issue.

[2022-02-23 13:36] #90 closed

[2022-03-07 09:52] MrAndrea commented on #56
It will be useful to discuss this task at the next Silo Meeting at the of the month.

[2022-03-08 09:55] #6 closed

[2022-03-08 09:59] fiorisi commented on #38
Done.

[2022-03-08 09:59] #38 closed

[2022-03-28 08:15] marcellosavoldi commented on #88
keep in mind that most of the time we will also have a belt tensioner.
The position of the latter is not always the same.
I think could be better keeping the belt code to generate the BOM always in a bulk-item and design the belt as COSM.

[2022-03-29 16:05] marcellosavoldi opened #93 "[TQ] - [ILM series] - [motor for ergoCub joints]"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [[TQ link](https://www.tq-group.com/en/products/tq-robodrive/servo-kits/) ]                  |
| Project              | [ergoCub]     |
| Alias Creo           | [TQ_ILM... see table below]                         |
| IIT-Code             | [se

[2022-03-30 08:43] Lawproto commented on #88
@marcellosavoldi I am not sure I get your objection. As of now, the temporary belt CAD model does not take the tensioner into account, in fact there is interference.

![immagine](https://user-images.githubusercontent.com/84333301/160789909-e3bfa93d-1f29-442b-8ad7-8b633b3ba4d3.png)

I am fine to leave the representation like this, it is not a big deal for me. Taking belt tensioner into account seem

[2022-03-30 10:42] marcellosavoldi commented on #88
Probably it's an error... a belt tensioner should always be present, unless the motor shaft can be moved before fastening it.

probably if we had taken into account the belt tensioner we could have avoided the mistake.

[2022-03-30 11:48] Lawproto commented on #88
@marcellosavoldi there is no mistake, the belt tensioner **is present**. It is just the belt that goes "straight" instead of following the very feeble deformation the belt tensioner would induce. To me, this simplification is perfectly fine.
Also, it is very difficult to foresee the entity of the belt deformation beforehand or to measure it afterhand, for that matter.

[2022-04-01 08:00] marcellosavoldi commented on #88
I define this a error...

[2022-04-04 06:52] Lawproto opened #94 "IGUS - GSM-0506-046 - sleeve bearing"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | https://www.igus.it/product?artNr=GSM-0506-046 |
| Project              | ergoCub lower arm (Mk2) |
| Alias Creo           | IGUS_GSM-0506-046          |
| IIT-Code             | 16215                    |
| Applicant            | Lorenzo Prot

[2022-04-04 07:34] Lawproto commented on #94
Checklist complete. Item added to `cad-libraries` and WinGST. Closing.

[2022-04-04 07:34] #94 closed

[2022-04-04 14:08] fiorisi commented on #94
@Lawproto did you use the correct start part?
https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#standard-part-for-commercial-components

[2022-04-04 14:18] Lawproto commented on #94
No, I simply assigned the Iglidur material in this case.

[2022-04-04 14:26] fiorisi commented on #94
Ok, then simply remove these parameters from the part.
![image](https://user-images.githubusercontent.com/8970230/161565387-8f9cdc27-dc85-4b40-835c-757636501369.png)

[2022-04-04 14:43] Lawproto commented on #94
I see your point, @fiorisi. Fixed that.

[2022-04-06 16:33] divyashah commented on #93
Since we have shortlisted the types of chosen motors, below is the updated table with the relevant parameters and the status of them:

## Parts to do:

|  Motor   |  STATUS   |    Alias              | IIT CODE |   Description                   |
|:--------:|:---------:|:---------------------:|:--------:|:-------------------------------:|
| ILM50x08 | **to rename** | TQ_ILM50X08_SS_STATOR |   15577

[2022-04-07 08:29] MrAndrea commented on #93
I think now we have to estimate the number of the [motors above](https://github.com/icub-tech-iit/cad-libraries/issues/93#issuecomment-1090471427) in order to go with the purchase.

[2022-04-07 10:19] divyashah commented on #93
Yes @MrAndrea I created a table of motors/harmonic drives and their estimated quantities in https://github.com/icub-tech-iit/ergocub-design-joint/issues/69#issuecomment-1090524265.

[2022-04-13 15:48] divyashah commented on #93
All the motors from the shortlisted table above in https://github.com/icub-tech-iit/cad-libraries/issues/93#issuecomment-1090471427 have been added/renamed.

Maybe you can close this issue ??
cc @marcellosavoldi

[2022-04-15 11:11] divyashah opened #95 "Harmonic Drive - CSD-25-160-2A-GR - Harmonic Drive Component Set"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [CSD-2A Series Datasheet](https://harmonicdrive.de/fileadmin/user_upload/2014_11_ED_1019659_CSD-2A.pdf)                  |
| Project              | ergoCub     |
| Alias Creo           | see notes                        |
| IIT-Code

[2022-04-15 11:14] divyashah commented on #95
Datasheet mass value for CSD-25 = **0.24 kg**
CAD Volume = 34160.4 $mm^3$

Therefore, assigned density = **7.0257e-6** kg/$mm^3$

[2022-04-15 11:36] divyashah commented on #95
Added the files as per the previous commit. Below are the screenshots:

![image](https://user-images.githubusercontent.com/16266334/163566123-7a91263e-ff76-456e-b090-4264eff36941.png)

![image](https://user-images.githubusercontent.com/16266334/163566171-eb14e1be-a9e0-48bc-8880-df5b1f84ebd3.png)

[2022-04-15 14:36] #93 closed

[2022-04-15 14:37] #95 closed

[2022-04-28 10:05] Lawproto opened #96 "Editing ISO4032 - adding M6 left hand hexagonal nut, A2 to Family Table"
| Description   | Field                              |
|:--------------|:-----------------------------------|
| Category      | [ECAD-MCAD]                        |
| Alias Creo    | ISO4032             |
| IIT-Code      | 16282                |
| Applicant     | Lorenzo Protopapa, @Lawproto        |
| Supervisor    | Luca Fiorio, @fiorisi             |
| Maintainer    | Marcello Savoldi, @marcell

[2022-04-28 11:22] Lawproto commented on #96
I have added one line to the family table.

![immagine](https://user-images.githubusercontent.com/84333301/165741488-07ec7551-3b72-4bf1-be9c-56c5da21f7fa.png)

[2022-04-28 13:11] #96 closed

[2022-04-29 07:51] Lawproto commented on #96
**EDIT:** I switched from `M6 LH` to `M5 LH` because of design constraint.
Issue description updated.
`cad-libraries` updated.
WinGST updated.

[2022-05-12 08:01] marcellosavoldi opened #97 "[Technogym] - [Urethane-plates] - [training plate for setups]"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [ [wbsite ](https://www.technogym.com/it/urethane-plate-set.html)]                  |
| Project              | setup and others    |
| Alias Creo           | [Technogym]                         |
| IIT-Code             | 16241,16242, 16243, 16

[2022-05-13 08:13] marcellosavoldi commented on #97
I created the family table technogym_training_plate.prt
![image](https://user-images.githubusercontent.com/53296021/168240631-6867d9ac-d209-4d30-b8b5-b666538a7966.png)

but I've some problems to define the different density for all plates...
Who can help me?

@icub-tech-iit/silo-mech

[2022-05-13 14:11] fiorisi commented on #97
@marcellosavoldi in this case I think that we have to rely on the `Alternate mass properties`.
See for more details: https://www.ptc.com/en/support/article/CS187047

If you can try this option, then we can discuss it and approve it at the next silo-meeting.

[2022-05-13 15:30] divyashah commented on #97
I had the similar problem of assigning mass properties for family tables for the issue of Seeger Rings (https://github.com/icub-tech-iit/cad-libraries/issues/56). We decided not use seeger rings at that time, so that issue got pushed into icebox.

Now, I can try to help look into this and I think we already have this point for discussion in our list for the silo-mech meeting.

@marcellosavoldi @fi

[2022-06-03 14:04] Lawproto commented on #88
In the end I decided to give the library component a simple shape and to assemble it as flexible where required.
I put an annotation feature in the model tree explaining how to use it; the interaxis is dependent on the two diameters and the perimeter (not to be changed in value).

![immagine](https://user-images.githubusercontent.com/84333301/171869327-04271bd4-7e4b-4a01-aec3-b0851ba08f51.png)

He

[2022-06-03 14:04] #88 closed

[2022-06-06 10:24] fiorisi commented on #88
@Lawproto can you please add a point to the next silo meeting agenda to discuss this strategy?

[2022-06-06 13:30] Lawproto commented on #88
@fiorisi ✅ done.

[2022-06-08 09:52] salvi-mattia opened #98 "Editing CSD-20-100-2UH (_cs _wg), CSD-20-160-2UH (_cs _ws), CSD-25-100-2UH (_cs _wg) -fixing masses"
| Description   | Field                              |
|:--------------|:-----------------------------------|
| Category      | MCAD                        |
| Alias Creo    | CSD-20-100-2UH (_cs _wg), CSD-20-160-2UH (_cs _ws), CSD-25-100-2UH (_cs _wg)                 |
| IIT-Code      | [if available]                     |
| Applicant     | @salvi-mattia           |
| Supervisor    | @fiorisi

[2022-06-08 09:59] marcellosavoldi commented on #98
Are we going to enter the weight including grease?

[2022-06-08 11:42] salvi-mattia commented on #98
yes, we are going to make them weight as they weight

[2022-06-08 15:18] Mick3Lozzo opened #99 "Editing [DIN7984]-[correcting material]"
| Description   | Field                              |
|:--------------|:-----------------------------------|
| Category      | [ECAD-MCAD]                        |
| Alias Creo    | DIN7984                   |
| IIT-Code      | not available - screw family table           |
| Applicant     | Michele Gesino, @Mick3Lozzo             |
| Supervisor    | Ugo Pattacini, @pattacini        |
| Maintaine

[2022-06-08 15:50] fiorisi commented on #99
The AISI 304 is generally class A@ steel. Did you as the state (annealed, hardened, etc)?
Depending on the state one can define the resistance of the material.
See https://github.com/icub-tech-iit/cad-mechanics/wiki/Technical-specification-standards#screws-bolts-and-nuts

[2022-06-09 08:37] salvi-mattia opened #100 "BASLER - daA4200-30mci-JNANO-NVDK - 4K camera board"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [[link or attachment ] ](https://docs.baslerweb.com/embedded-vision/daa4200-30mci-jnano-nvdk)                 |
| Project              | iCub3   |
| Alias Creo           | basler_daa4200-30mci-jnano.prt              |
| IIT-Code             |

[2022-06-09 09:18] salvi-mattia commented on #100
1394d62aa759015afe7102739f91e636be229e79

[2022-06-10 07:29] marcellosavoldi commented on #99
Are you speaking about these 2 screws?
![image](https://user-images.githubusercontent.com/53296021/173012626-79922e2f-2212-4c95-a9d0-0c537e3297d1.png)

The Bossard code in wingst is [BN2844](https://www.bossard.com/eshop/global-en/screws-and-bolts-with-internal-drive/hex-socket-head-cap-screws-with-low-head-partially-fully-threaded/p/2844/?category=&index=0&q=bn2844%3Arelevance#tab-features)...
th

[2022-06-10 07:32] marcellosavoldi commented on #98
In fact, I think it is a sensible reasoning....
but then, the grase weight should be evaluated for the high types of Harmonic ( those divided into 3 pieces) as well ?

[2022-06-10 07:41] salvi-mattia commented on #98
maybe this is not the correct issue for this discussion
BUT
I think that every commercial should be weighted as it is

[2022-06-14 14:10] salvi-mattia opened #101 "Connect Tech - NGX004-02 - Quark Carrier + NVIDIA® Jetson Nano™ Module + Active Thermal"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  |[ carrier ](https://connecttech.com/product/quark-carrier-nvidia-jetson-nano/) , [heatsink](https://connecttech.com/product/nvidia-jetson-nano-active-heat-sink/) , [jetson nano](https://developer.nvidia.com/embedded/jetson-nano)

[2022-06-14 14:29] salvi-mattia commented on #101
16446 - Quark Carrier + NVIDIA® Jetson Nano™ Module + Active Thermal NGX004-02

we need to check weight and mounting while the assembly will be here

[2022-06-15 11:44] divyashah commented on #56
I added the `DIN_9927.PRT` family table for the SEEGER ring type **SW** for shafts.
![image](https://user-images.githubusercontent.com/16266334/173819441-5e67aff8-8f24-4da4-9333-f003f3ea3196.png)

For now, the family table consists of instances from nominal diameter 14 mm to 47 mm.
![image](https://user-images.githubusercontent.com/16266334/173819257-7d2683d2-333b-4c2c-80ca-4ef6392343b2.png)

I al

[2022-06-22 09:39] Elio75 commented on #54
Yes

[2022-06-22 09:39] fiorisi commented on #87
@Elio75 can we close this issue?

[2022-06-22 09:40] fiorisi commented on #84
@Elio75 did you address the [previous comment](https://github.com/icub-tech-iit/cad-libraries/issues/84#issuecomment-995559632)?

[2022-06-22 09:40] #87 closed

[2022-06-22 09:41] #54 closed

[2022-06-22 09:41] fiorisi commented on #71
@salvi-mattia can we close this issue?

[2022-06-22 09:42] fiorisi commented on #70
@salvi-mattia can we close this issue?

[2022-06-22 09:42] fiorisi commented on #69
@salvi-mattia can we close this issue?

[2022-06-22 09:43] salvi-mattia commented on #71
no,
ther is still the pending decision if you want to change the name even if it is used somewhere
[is it really used somewhere?]

[2022-06-22 09:44] salvi-mattia commented on #70
no,
ther is still the pending decision if you want to change the name even if it is used somewhere
[is it really used somewhere?]

[2022-06-22 09:44] salvi-mattia commented on #69
no,
ther is still the pending decision if you want to change the name even if it is used somewhere
[is it really used somewhere?]

[2022-06-22 09:44] fiorisi commented on #61
@marcellosavoldi once the [checklist](https://github.com/icub-tech-iit/cad-libraries/issues/61#issue-1002654124) has been completed can we close this issue?

[2022-06-22 10:26] Elio75 commented on #84
Done

[2022-06-22 12:00] #84 closed

[2022-06-22 12:32] fiorisi commented on #70
No, as agreed during the last silo meeting we do not rename parts.
If all the other points are satisfied feel free to close the issue.

[2022-06-22 12:32] fiorisi commented on #71
No, as agreed during the last silo meeting we do not rename parts.
If all the other points are satisfied feel free to close the issue.

[2022-06-22 14:23] #71 closed

[2022-06-22 14:23] #70 closed

[2022-06-22 14:23] #69 closed

[2022-06-27 07:26] marcellosavoldi commented on #61
we decided to not use a family table creating the parts.
we can close

[2022-06-27 07:26] #61 closed

[2022-06-27 09:40] fiorisi commented on #61
Thanks, can you just complete the [checklist](https://github.com/icub-tech-iit/cad-libraries/issues/61#issue-1002654124)?

[2022-06-28 11:47] salvi-mattia opened #103 "BASLER - 2000036061 - M12 Lens, Focus 2.1mm, Aperture 1.8 FOV 170 degree with IR cut filter, 1/3"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | file:///C:/Users/msalvi/Downloads/DG00211003000_Tech_Spec_for_SAP_2000036060_2000036061-2.pdf               |
| Project              | ErgoCub & iCub   |
| Alias Creo           | BASLER_2000036061                       |
| IIT-Code

[2022-06-28 11:55] salvi-mattia commented on #103
mass check required

[2022-06-28 12:12] salvi-mattia opened #104 "Leopard Imaging - YC-155N - M12 Lens, Focus 2.8mm MEGA, Aperture 2.0 FOV 120 degree, 1/2.7"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | file:///C:/Users/msalvi/Downloads/Ray-Optics-YC-155N-2M-Board-Fixed-Lens-Product-Feature-V1.3-072213-1.pdf                |
| Project              | iCub & ergoCub    |
| Alias Creo           | LEOPARD-IMAGING_YC-155N                         |

[2022-06-28 12:19] salvi-mattia opened #105 "Leopard Imaging - 2920-650-120 - M12 Lens, Focus 2.9mm, Aperture 2.0 FOV 120 degree"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [file:///C:/Users/msalvi/Downloads/2920-650-120_2.9mm_Spec-2.pdf                  |
| Project              | iCub & ergoCub     |
| Alias Creo           | LEOPARD-IMAGING_2920-650-120                         |
| IIT-Code             | [13483

[2022-06-28 12:19] salvi-mattia commented on #105
mass check required

[2022-06-29 13:06] #56 closed

[2022-06-29 13:34] divyashah commented on #97
Removed additional parameters from the file to be coherent with the start-part commercial. Closing the issue now.

[2022-06-29 13:34] #97 closed

[2022-07-01 09:24] MrAndrea commented on #101
Hi @pattacini, @masa, why did you assign only the Wingst code 16446 for this group of components and not 3 different codes?

![image](https://user-images.githubusercontent.com/20459541/176866704-f964aab4-d2f4-4404-b811-e54ed6377982.png)

cc @marcellosavoldi

[2022-07-01 09:52] MrAndrea commented on #101
Thanks.
Now we have to replace the Nano board with the Xavier NX as written in [this comment](https://github.com/icub-tech-iit/study-icub-head/issues/15#issuecomment-1168439612), and the Xavier NX has 16487 as code.
Do we add a new Wingst code for the new group or do we split the 3 components?

[2022-07-01 12:20] fiorisi commented on #101
Thanks @salvi-mattia for the detailed comment.

Probably at this point it would be useful to have a clear list and connection schematics using the dedicated issue template: https://github.com/icub-tech-iit/mechatronics/issues/new/choose

![image](https://user-images.githubusercontent.com/8970230/176893188-f86eeaa6-cba6-405d-9a80-4d7c3fdbca5d.png)

[2022-07-12 15:26] Mick3Lozzo opened #106 "[BOE Technology] - [BOE_BF060Y8M-AJ0-7D00] - [FHD color active matrix AMOLED display, 5.99 inch]"
| Description          | BOE OLED flexible display 5.99" |
|:---------------------|:---------------------------------------|
| Datasheet component  |    [6 inches panel data with FPC.pdf](https://github.com/icub-tech-iit/cad-libraries/files/9094494/6.inches.panel.data.with.FPC.pdf)              |
| Project              | [ergoCub    |
| Alias Creo           | BOE_BF060Y8M-AJ0-7D00   |
| IIT-Code

[2022-07-12 15:55] Mick3Lozzo commented on #106
We don't have an official supplier in WinGST, this item has been bought via Aliexpress.

@marcellosavoldi @fiorisi

[2022-07-13 05:51] marcellosavoldi commented on #106
I noticed that the attached document is confidential ...
Can we put this item in the public library?
although in theory it can be purchased at ALI....

[2022-07-13 07:28] Mick3Lozzo commented on #106
It is downloadable via registration @marcellosavoldi. I don't know. 🤷‍♂️

[2022-07-13 14:15] Mick3Lozzo opened #107 "[Digital View] - [MIP-1000] - [OLED / LCD Controller Board]"
| Description          | MIPI DSI OLED / LCD Controller Board        |
|:---------------------|:---------------------------------------|
| Datasheet component  | [digital-view-product-guide-2022.pdf](https://github.com/icub-tech-iit/cad-libraries/files/9102982/digital-view-product-guide-2022.pdf), [mip-1000-brochure.pdf](https://github.com/icub-tech-iit/cad-libraries/files/9102997/mip-1000-brochur

[2022-07-13 14:16] Mick3Lozzo commented on #107
Created code in WinGST, but we don't have an official supplier, it has been bought via Alexpress.

[2022-07-13 14:16] Mick3Lozzo commented on #107
![](https://user-images.githubusercontent.com/15085666/178755572-105159fd-faa8-476a-9f78-8d3c3cc4d3bd.png)

Weighted mass, 18 g.

[2022-07-14 08:06] marcellosavoldi commented on #107
Can you create a middle plane in the USB connector and flat connector to facilitate the assembly of the plug components?
what do you think?
![image](https://user-images.githubusercontent.com/53296021/178933568-1bf1269c-607d-4622-9e38-94024857204c.png)

[2022-07-14 08:36] marcellosavoldi commented on #106
Yes... because electronic boards usually are buying from electronic team...

[2022-07-14 09:05] fiorisi commented on #107
cc @icub-tech-iit/silo-electr

[2022-07-14 10:00] fiorisi opened #108 "[ISO 3601] - [FAMILY TABLE] - [O-ring]"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [ISO-3601-12008.pdf](https://github.com/icub-tech-iit/cad-libraries/files/9110821/ISO-3601-12008.pdf)                 |
| Project              | Generic component     |
| Alias Creo           | TBD                         |
| IIT-Code

[2022-07-14 10:01] fiorisi commented on #108
Created also dedicated section in our technical specification standards: https://github.com/icub-tech-iit/cad-mechanics/wiki/Technical-specification-standards#o-ring

[2022-07-14 10:21] fiorisi commented on #108
CAD model definition following the technical specification:

![image](https://user-images.githubusercontent.com/8970230/178958722-9b6affb3-4fdc-417f-b617-c8caf0c2f2f1.png)

Given our application (robotics) I would select the "industrial application" class B O-rings.
Are also easily available from SKF: https://www.skf.com/group/products/industrial-seals/hydraulic-seals/o-rings-and-back-up-rings
![i

[2022-07-14 10:47] fiorisi commented on #108
@salvi-mattia selected the RS code 196-5457 which is a NBR O-ring, but it doesn't follow the ISO3601.
If none of the O-rings in ISO3601 are suitable, then I would name the O-ring following the classical procedure for standard commercial components.

![image](https://user-images.githubusercontent.com/8970230/178961938-3c365bf6-9860-4808-9e19-e83a4b24b015.png)

[2022-07-14 12:26] fgarini commented on #107
May Electronica be a suitable candidate for this request of offer?
They already supplied to us the flexible display (cfr purchases#1739)

[2022-07-14 12:44] fiorisi commented on #108
Decision made
-
- @salvi-mattia creates the part that best fits his design following the [standard procedure for commercial components](https://github.com/icub-tech-iit/cad-libraries/wiki/Mechanical-design-guidelines#commercial-components-coding-standard).
- I will create the ISO3601 family table with at least one instance and commit it.
- @icub-tech-iit/silo-mech if you need O-rings please check

[2022-07-14 14:08] salvi-mattia opened #110 "RS - 196-5457- Metric Nitrile 70 ShA O-Rings Ø int. 2.6mm, Ø ext. 5.4mm 1.4mm"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  |https://docs.rs-online.com/f20f/A700000006699145.pdf            |
| Project              | 4k eye     |
| Alias Creo           |RS_196-5457                      |
| IIT-Code             | [if available]                         |
| Applicant

[2022-07-14 14:09] salvi-mattia commented on #110
as per
https://github.com/icub-tech-iit/cad-libraries/issues/108#issuecomment-1184403887

[2022-07-15 13:25] Mick3Lozzo opened #111 "Slamtec - RPLIDAR S2 - 360 Degree Laser Range Scanner"
| Description          | RPLidar S2 Laser Scanner      |
|:---------------------|:---------------------------------------|
| Datasheet component  |     [SLAMTEC_rplidar_datasheet_S2M1_v1.0_en.pdf](https://github.com/icub-tech-iit/cad-libraries/files/9121114/SLAMTEC_rplidar_datasheet_S2M1_v1.0_en.pdf) , [rplidar-s2-model-3d-igs.zip](https://github.com/icub-tech-iit/cad-libraries/files/9121140/rplid

[2022-07-15 13:35] Mick3Lozzo commented on #111
@marcellosavoldi @fiorisi

[2022-07-15 14:57] Mick3Lozzo commented on #107
Ok.

[2022-07-27 10:06] Andrea-Mor opened #113 "[Faulhaber] - [1512_U012SR_324-1] - [Motor for mk5 hand index adduction]"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [link or attachment ]                  |
| Project              | [where will the component be used]     |
| Alias Creo           | [maker + code]                         |
| IIT-Code             | [if available]                         |
| Ap

[2022-07-27 13:10] Lawproto opened #114 "Maxon - B7E7C938897D - Motor - DCX10S EB KL 9V + Gearhead - GPX10 A 256:1"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [b7e7c938897d_2.pdf](http://wingst-icub.iit.local/direct_download.php?LINK=%2F%2Fiiticubstor01.iit.local%2Ficub-tech%2Fmechatronics%2FDatasheet%2FMotors%2FMaxon%2Fb7e7c938897d_2.pdf)              |
| Project              | Mk5 hand |
| Alias C

[2022-07-27 13:25] Lawproto commented on #114
Assigned density so that the mass is `15 g` as per datasheet.

[2022-07-28 09:12] Andrea-Mor commented on #113
### IIT code in WINGST
![image](https://user-images.githubusercontent.com/79802725/181465487-715d8089-bcf3-48ab-a42f-361e06d4b3a7.png)

[2022-07-28 14:19] Andrea-Mor commented on #113
Done ✔️
I will check real motor weight as soon as it will be delivered

[2022-07-28 14:19] Andrea-Mor commented on #113
/remind 14/09/2022 08.30 verify motor weight

[2022-08-11 10:39] divyashah opened #115 "PWB - Optical Disk 005, 006 - Reflective encoder wheels"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [link or attachment ]                  |
| Project              | ergoCub (& future) joints     |
| Alias Creo           | PWB_ENCODER_OPTICAL_DISK_005, PWB_ENCODER_OPTICAL_DISK_006                         |
| IIT-Code             | 16146, 167

[2022-08-11 13:36] divyashah opened #116 "RLS - MRA053BC030DSE00, MB053SPL20MENT00 - Magnetic code wheel & AksIM2 encoder"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [AksIM2 Datasheet](https://www.rls.si/eng/fileuploader/download/download/?d=1&file=custom%2Fupload%2FMBD01_10EN_datasheet_bookmark.pdf)                  |
| Project              | ergoCub (& future) joints     |
| Alias Creo           | RLS_MR

[2022-08-11 13:45] divyashah commented on #116
**RLS_MRA053BC030DSE00**
![image](https://user-images.githubusercontent.com/16266334/184147261-87c25828-4d7d-42d2-b621-886f377bc25c.png)

---

**RLS_MB053SPL20MENT00**
![image](https://user-images.githubusercontent.com/16266334/184147162-3bd6c2ba-9cf6-4c72-b711-264e134ef234.png)

[2022-08-11 14:05] divyashah commented on #115
**PWB_ENCODER_OPTICAL_DISK_005**
![image](https://user-images.githubusercontent.com/16266334/184151720-7ce3b650-1171-41d3-aaa3-d25181a53f4f.png)

---

**PWB_ENCODER_OPTICAL_DISK_006**
![image](https://user-images.githubusercontent.com/16266334/184151553-eedca50f-a788-4cf0-b25b-90f9d7cc46df.png)

[2022-08-16 08:29] marcellosavoldi commented on #116
@divyashah , can you check if is present the sys MATE_CONN in that connector?
in case , can you add it in the same position of the our molex one?

[2022-08-16 14:00] Lawproto commented on #114
Weight of the physical object implemented.

![IMG20220816153200](https://user-images.githubusercontent.com/84333301/184898555-2a0d730f-2750-4e76-9266-91601199496c.jpg)

![immagine](https://user-images.githubusercontent.com/84333301/184897565-7b855106-90e2-4706-85ed-5c69d8fea1bd.png)

Closing.

[2022-08-16 14:00] #114 closed

[2022-08-17 12:30] fiorisi commented on #114
Thanks @Lawproto.
I wonder if the 2.5 grams of difference between the datasheet and the weight scale are due to the wires.
Considering that currently in our CAD  models we don't have cables, and considering that usually the weight of the real robot is less than the one estimated by the CAD, I would use 15 grams instead of 17.5.

What do you think?

[2022-08-17 15:07] Lawproto commented on #114
@fiorisi given a commercial component, how do we decide when to prioritise the datasheet weight over the measured one?
If a clear and easy criterion does not come mind, I prefer to stick with the simpler rule we adopted until now. Also considering the difference is small enough.

[2022-08-17 15:42] divyashah commented on #116
Thanks @marcellosavoldi for pointing it out.

The `MATE_CONN` csys was missing so I updated the file with the previous commit.
![image](https://user-images.githubusercontent.com/16266334/185182829-cd3578d8-29c8-4985-b58f-87842b892267.png)

[2022-08-18 12:48] divyashah commented on #115
Adding the drawings for the respective optical disks below for reference:

**PWB_ENCODER_OPTICAL_DISK_005**
![image](https://user-images.githubusercontent.com/16266334/185398248-818c3f77-eb46-42fe-bd40-3117144e60c0.png)

**PWB_ENCODER_OPTICAL_DISK_006**
![image](https://user-images.githubusercontent.com/16266334/185398370-a1d00615-8f51-4002-9ed2-34d4e018ce5f.png)

source reference issues:
- https:

[2022-08-18 12:58] divyashah opened #117 "Kaydon - KAA17BG0Z_B2B - Angular contact bearing, duplex pair B2B"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [link or attachment ]                  |
| Project              | ergoCub (& future) joints     |
| Alias Creo           | KAYDON_KAA17BG0Z_B2B                   |
| IIT-Code             | 16073                         |
| Applicant

[2022-08-18 13:10] divyashah opened #118 "HIWIN - HIWIN_CRB - Crossed roller bearings family table"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [Datasheet](https://www.hiwin.it/images/download/documenti/cuscinetti-a-rulli-incrociati-manuale-tecnico.pdf)                  |
| Project              | ergoCub joints & generic     |
| Alias Creo           | HIWIN_CRB

[2022-08-18 13:19] divyashah commented on #118
![image](https://user-images.githubusercontent.com/16266334/185404332-9a624930-8cea-4014-ace7-4034d46ade3d.png)

Adding the following instances for now:
![image](https://user-images.githubusercontent.com/16266334/185404754-622d02c8-73e1-4ad3-bce4-a7ff876353d5.png)

[2022-08-18 14:09] divyashah commented on #115
Regarding the mass properties, we keep the material as PVC for these components.
We will still measure the physical disks and verify the mass as and when we have them.

[2022-08-18 14:12] divyashah commented on #116
These are being considered for the large joint design.
Once we finalize the design and decide to purchase them, maybe @MrAndrea could help in adding these components to WINGST.

[2022-08-18 14:15] MrAndrea commented on #116
Ok @divyashah, I will wait for the finalized design to add them on Wingst.

[2022-08-18 14:45] divyashah commented on #117
Added the file with the previous commit.

As per the data sheet the weight of the single bearing should be 0.045 pounds which is about 0.02041 kg. So for a duplex pair, the weight is about 0.04082 kg. CAD is aligned with the datasheet.

![image](https://user-images.githubusercontent.com/16266334/185423576-8f1e291e-2666-49d4-bc1a-dab1f691ba64.png)

[2022-08-18 14:56] divyashah commented on #117
Some useful information from the supplier regarding the use of this duplex pair of angular contact bearing:

Interference fits will effectively increase the preload in the bearing.

The recommended housing ID would be 53.9775 +0.013/-0

For this size part, the maximum clamping force should not exceed 7000 N on the inner ring or 8100 N on the outer.

That would be considered best practice, but is r

[2022-08-18 15:01] divyashah commented on #118
The masses are not clearly specified in the datasheet.
Since, we are still not sure of using this on the final joint design, I will keep this issue on hold for now.

[2022-08-23 12:39] Elio75 opened #119 "[BotBlox] - [BB-GGB-C-1] - [GigaBlox – Small GigaBit Switch]"
| Description          | GigaBlox – Small GigaBit Switch 45x45mm - 5 ports  |
|:---------------------|:---------------------------------------|
| Datasheet component  |[ GigaBlox](https://botblox.io/products/gigablox-small-gigabit-switch)|
| Project              | ergoCub     |
| Alias Creo           | BOTBLOX_BB_GGB_C_1   |
| IIT-Code             | 16281                        |
| Applicant

[2022-08-23 12:43] Elio75 commented on #119
![image](https://user-images.githubusercontent.com/53298662/186160747-8a425b26-1fa2-463c-9788-4c95dfde4e21.png)

[2022-09-02 12:55] Lawproto opened #120 "ECAD - CAP-1206-X5R-47UF-6V3-10TOL - 15356 - capacitor"
| Description        | Field                                 | Notes |
|:-------------------|:--------------------------------------|:------|
| Datasheet          | [\\iiticubstor01.iit.local\icub-tech\mechatronics\Datasheet\Capacitors\Murata\MURATA - Chip ceramic capacitors GRM31 series.pdf](http://wingst-icub.iit.local/direct_download.php?LINK=%2F%2Fiiticubstor01.iit.local%2Ficub-tech%2Fmechatro

[2022-09-02 12:56] Lawproto commented on #120
Long story short: I am gonna update the right Family Table part.

[2022-09-02 13:38] #120 closed

[2022-09-08 09:58] marcellosavoldi commented on #119
@Elio75 , se poi riesci a mettere i sys "CONN_MATE" sui connettori che useremo sarebbe stupendo...

[2022-09-08 10:03] Elio75 commented on #119
OKA

[2022-09-14 13:42] #113 closed

[2022-09-16 12:51] Lawproto opened #121 "ECAD - CAP-0201-X5R-10NF-16V-10TOL - 15190 - Capacitor"
| Description        | Field                                 | Notes |
|:-------------------|:--------------------------------------|:------|
| Datasheet          | [link or attachment ] *               |       |
| Manufacturer info  | [Manufacturer name + serial number] * |       |
| Alias Creo         | [Alias or filename MCAD] \**          |       |
| MCAD Contact       | Lorenzo Protopapa, @La

[2022-09-16 12:52] Lawproto commented on #121
For this, I will just update the more suitable family table.

[2022-09-16 13:07] Lawproto opened #122 "ECAD - FBEADAR-0804-600RX100MHZ-0A1 - 10835 - Ferrite beads array"
| Description        | Field                                 | Notes |
|:-------------------|:--------------------------------------|:------|
| Datasheet          | [link or attachment ] *               |       |
| Manufacturer info  | [Manufacturer name + serial number] * |       |
| Alias Creo         | [Alias or filename MCAD] \**          |       |
| MCAD Contact       | Lorenzo Protopapa @Law

[2022-09-16 14:44] #121 closed

[2022-09-16 15:05] fgarini commented on #122
![image](https://user-images.githubusercontent.com/84333807/190670862-76937b1d-36b0-4c58-9e7a-c11c04206cce.png)

![image](https://user-images.githubusercontent.com/84333807/190670737-d3ff4686-acc5-445d-acfe-2addf4f14657.png)
pitch 1-5 0.9mm in ecad

[2022-09-16 15:31] #122 closed

[2022-09-19 06:29] Lawproto opened #123 "ECAD - INA240A1PWR - 15496 - Current Sense Amplifier"
| Description        | Field                                 | Notes |
|:-------------------|:--------------------------------------|:------|
| Datasheet          | [link or attachment ] *               |       |
| Manufacturer info  | [Manufacturer name + serial number] * |       |
| Alias Creo         | [Alias or filename MCAD] \**          |       |
| MCAD Contact       | Lorenzo Protopapa @Law

[2022-09-19 07:41] Lawproto opened #124 "ECAD - MAX22203ATU - 16158 - Controller e driver DUAL H-Bridge"
| Description        | Field                                 | Notes |
|:-------------------|:--------------------------------------|:------|
| Datasheet          | [link or attachment ] *               |       |
| Manufacturer info  | [Manufacturer name + serial number] * |       |
| Alias Creo         | [Alias or filename MCAD] \**          |       |
| MCAD Contact       | Lorenzo Protopapa, @La

[2022-09-19 08:18] Lawproto opened #125 "ECAD - RES-0402-2K4-1TOL - 14875 - Resistor"
| Description        | Field                                 | Notes |
|:-------------------|:--------------------------------------|:------|
| Datasheet          | [link or attachment ] *               |       |
| Manufacturer info  | [Manufacturer name + serial number] * |       |
| Alias Creo         | [Alias or filename MCAD] \**          |       |
| MCAD Contact       | Lorenzo Protopapa, @La

[2022-09-19 08:18] Lawproto commented on #125
I will just add this item to the most suitable family table.

[2022-09-19 08:32] Lawproto opened #126 "ECAD - RES-1206KELVIN-0R01-1TOL - 11352 - Resistor"
| Description        | Field                                 | Notes |
|:-------------------|:--------------------------------------|:------|
| Datasheet          | [link or attachment ] *               |       |
| Manufacturer info  | [Manufacturer name + serial number] * |       |
| Alias Creo         | [Alias or filename MCAD] \**          |       |
| MCAD Contact       | Lorenzo Protopapa, @La

[2022-09-19 08:33] Lawproto commented on #126
I will add this item to the proper Family Table.

[2022-09-19 08:47] Lawproto opened #127 "ECAD - NX2012SA-32768KHZ-EXS00A - 15215 - Quartz"
| Description        | Field                                 | Notes |
|:-------------------|:--------------------------------------|:------|
| Datasheet          | [link or attachment ] *               |       |
| Manufacturer info  | [Manufacturer name + serial number] * |       |
| Alias Creo         | [Alias or filename MCAD] \**          |       |
| MCAD Contact       | Lorenzo Protopapa, @La

[2022-09-19 09:26] Lawproto commented on #127
I am copying this from its equally dimensioned brother ST2012SB32768C0HPWBB

[2022-09-19 11:01] #123 closed

[2022-09-19 11:01] #125 closed

[2022-09-19 11:02] #124 closed

[2022-09-19 11:02] #126 closed

[2022-09-19 11:02] #127 closed

[2022-09-20 10:24] Elio75 commented on #119
Fatto

![image](https://user-images.githubusercontent.com/53298662/191234131-0fbacc58-0cc0-453f-9800-37cb1ff4eea7.png)

[2022-09-21 13:13] marcellosavoldi commented on #47
having officially switched to Torx screws, I would say to close this ISSUE and reopen it in case the problem recurs.

what do you think @fiorisi ?

[2022-09-21 13:14] marcellosavoldi commented on #89
done!

[2022-09-21 13:14] #89 closed

[2022-09-21 17:11] #47 closed

[2022-10-11 12:47] MrAndrea commented on #89
Title changed with the right model AEDR-9830 and iitcode 16143.

[2022-11-10 10:23] Lawproto opened #129 "Nuovo Mollificio Astigiano - 1356/0,35/2,0/800,0 - Tendon sheaths"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [link or attachment ]                  |
| Project              | ergoCub lower arm   |
| Alias Creo           | MOLL-AST_1356-0_35-2_0-800_0 |
| IIT-Code             | 16584       |
| Applicant            | Lorenzo Protopapa, @Lawproto

[2022-11-10 10:52] Lawproto commented on #129
Committed and pushed, see above.
Closing.

[2022-11-10 10:52] #129 closed

[2022-11-10 11:45] Lawproto opened #130 "Carlstahl - CG077081 - Stainless steel microcable"
| Description          | Field                                  |
|:---------------------|:---------------------------------------|
| Datasheet component  | [link or attachment ]                  |
| Project              | kinda everywhere, really    |
| Alias Creo           | CG077081         |
| IIT-Code             | 4482                       |
| Applicant            | Lorenzo Protopapa, @Lawp

[2022-11-10 11:50] fiorisi commented on #130
@Lawproto maybe you can add a ~strikethrough~ on the points of the checklist that don't apply.

[2022-11-10 11:50] Lawproto commented on #130
Committed and pushed, see commit above.
Closing.

[2022-11-10 11:50] #130 closed

[2022-11-11 08:23] Andrea-Mor opened #131 "ECAD - [FUSE-0402-ASML035] - [16819] - [PPTC resettable fuse]"
| Description        | Field                                 | Notes |
|:-------------------|:--------------------------------------|:------|
| Datasheet          | [link or attachment ] *               |       |
| Manufacturer info  | [Manufacturer name + serial number] * |       |
| Alias Creo         | [Alias or filename MCAD] \**          |       |
| MCAD Contact       | Andrea Mor, @Andrea-Mo

[2022-11-14 11:14] Andrea-Mor commented on #131
@simeonedussoni riesci a contribuire su questo punto?
![image](https://user-images.githubusercontent.com/79802725/201646421-2e736b9b-68c6-4cb3-a2a6-5687f34eb40e.png)

[2022-11-15 10:04] Andrea-Mor commented on #131
Converted with EDU com licence.
Closing

[2022-11-29 08:54] Lawproto opened #133 "Editing 1331T012SR_IE2-400_14-1 - fixing mass"
| Description   | Field                              |
|:--------------|:-----------------------------------|
| Category      | MCAD                        |
| Alias Creo    | 1331T012SR_IE2-400_14-1               |
| IIT-Code      | 4471  (I went to WinGST **just** to fill this in)                 |
| Applicant     | Lorenzo Protopapa, @Lawproto            |
| Supervisor    | Luca Fiorio, @fioris

[2022-11-29 08:57] Lawproto commented on #133
This is the starting point:

![immagine](https://user-images.githubusercontent.com/84333301/204483742-467f0be5-2e59-4a03-a47f-85398e806a41.png)

This is the correct mass to input:

![immagine](https://user-images.githubusercontent.com/84333301/204484158-afa1c128-2c1a-499a-9d3b-3ce936bfac5f.png)

[2022-11-29 09:23] Lawproto commented on #133
Fix'd.
![immagine](https://user-images.githubusercontent.com/84333301/204490039-2f1147c3-8f34-4966-a11c-735dcb63391c.png)

Closing.

[2022-11-29 09:23] #133 closed